*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, img, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: STHeiti, "Microsoft YaHei", simsun, sans-serif, Arial;
    font-size: 12px;
    background: #fff;
}
.clear:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both;
}
button{
    font: inherit;
    padding: 1px 6px;
    text-align: center;
    cursor: pointer;
}
a{
    color: #333;
}
.header-inner{
    position: relative;
    background: rgba(0, 0, 0, .85);
    width: 100%;
    min-width: 1200px;
    z-index: 999;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
}
.header-container {
    margin: 0 auto;
    width: 1200px;
}
.site-logo {
    float: left;
    padding: 5px 0;
}
.header-top .site-top-search {
    float: right;
    padding-top: 25px;
}
.header-top .sub-web {
    float: right;
    padding: 25px 20px 0 0;
}
.site-logo .logo {
    height: 50px;
    padding: 5px 0;
    display: inline-block;
}
.site-logo .logo img {
    display: inline-block;
    margin-top: 5px;
}
.site-logo p {
    line-height: 24px;
    padding-left: 15px;
    font-size: 16px;
    color: #999;
    display: inline-block;
    vertical-align: text-bottom;
}
.site-top-search input {
    background: #fff;
    color: #333;
    height: 22px;
    line-height: 22px;
    padding: 3px 5px;
    width: 177px;
    float: left;
    font-size: 14px;
    border: 1px solid #999;
    border-radius: 5px 0 0 5px;
}
.site-top-search button {
    display: inline-block;
    height: 30px;
    border: 1px solid #333;
    background: #333;
    font-size: 14px;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, .8);
}
.header-search{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../img/1.png");
    background-repeat: no-repeat;
    position: relative;
    vertical-align: -3px;
    text-align: center;
    background-position: 0 -90px;
}
.sub-web a {
    color: #fff;
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}
.sub-web a img {
    /*width: 30px;*/
    /*height: 30px;*/
    float: left;
    margin-right: 5px;
}
.sub-web a .b {
    line-height: 30px;
}

.nav {
    border-top: 1px solid #343434;
    height: 40px;
}
.nav ul{
    height: 40px;
}
.navlist{
    position: relative;
    float: left;
    z-index: 999;
    display: inline-block;
    height: 40px;
    border-left: 1px solid #343434;
}
.navlist a{
    display: block;
    color: #fcf9ef;
    font-size: 13px;
    text-align: center;
    border-top: 2px solid #999;
    line-height: 38px;
    transition: background .3s;
    -moz-transition: background .3s;
    -webkit-transition: background .3s;
    width: 60px;
    color: #fff;
}
.nav2 li a{
    border-top: none;
    border-bottom: none;
    background: url("../img/6.png") repeat-x 0 0;
    line-height: 38px;
}
.jt{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.jt a{
    position: absolute;
    line-height: 52px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    transition: background .2s ease-out;
    top: 139px;
}
.jtl{
    left: 0;
    padding-right: 5px;
}
.jtr{
    right: 0;
    padding-left: 5px;
}
.jtl i{
    display: inline-block;
    width: 30px;
    height: 52px;
    background: url(../img/10.png) no-repeat;
    float: left;
    background-position: left 0;
}
.jtr i{
    display: inline-block;
    width: 30px;
    height: 52px;
    background: url(../img/10.png) no-repeat;
    float: left;
    overflow: hidden;
    background-position: right 0;
}
.jtl span{
    padding: 0 10px;
    /*opacity: 0;*/
    transition: opacity .2s ease-out;
}
.jtr span{
    float: left;
    padding: 0 10px;
    /*opacity: 0;*/
    transition: opacity .2s ease-out;
}
.jtl:hover{
    background: #666;
}
.jtl:hover i{
    background-position: left -47px;
}
.jtr:hover i{
    background-position: right -47px;
}
.jtr:hover{
    background: #666;
}
.nav1 .xiala{
    width: 60px;
    text-align: center;
    height: 40px;
    display: inline-block;
    color: #FFF;
    font-size: 14px;
    line-height: 40px;
    float: left;
    position: relative;
    z-index: 9999;
}
.xiala span{
    cursor: pointer;
}
.xiala:hover .zhuandong{
    transform: rotate(180deg);
}
.xiala:hover .yincang{
    display: block;
}
.xiala .zhuandong{
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-align: center;
    margin-top: 15px;
    height: 7px;
    background: 0;
    overflow: hidden;
    width: 20px;
    font: 400 15px/15px consolas;
    color: #fff;
    transition: transform .1s ease-in 0s;
    -webkit-transition: -webkit-transform .1s ease-in 0s;
}
.zhuandong s{
    position: relative;
    top: -7px;
    text-decoration: none;
    display: block;
    transform: rotate(90deg);
}
.nav-login{
    float: left;
    position: relative;
    display: inline-block;
}
.nav-login a{
    display: block;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    padding: 0 5px;
}
.yincang{
    color: #FFF;
    font-size: 14px;
    line-height: 40px;
    position: absolute;
    right: 0;
    top: 40px;
    background: #FFF;
    border: 1px solid #ddd;
    display: none;
    width: 120px;
    text-align: left;
    z-index: 9999;
}
.yincang li a {
    font-size: 14px;
    display: block;
    line-height: 30px;
    padding: 0 10px;
}
.tubiao1{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../img/1.png");
    background-repeat: no-repeat;
    position: relative;
    vertical-align: top;
    text-align: center;
    margin-right: 5px;
}
.yincang ul{
    height: auto;
}
.site-top-search input:focus{
    border: 1px solid #f12b35;
    box-shadow: 0 0 10px #f12b35;
}
.loginbox{
    position: fixed;
    z-index: 19891015;
    width: 450px;
    height: 495px;
    margin-left: -225px;
    top: 73px;
    left: 50%;
    display: none;
}
.loginbox1{
    position: relative;
    height: 100%;
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    z-index: 19891015;
}
.logintitle{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #D5D5D5;
    background: #f5f5f5;
    font-size: 14px;
    color: #333;
    cursor: move;
}
.logintitle em {
    position: absolute;
    height: 20px;
    line-height: 20px;
    width: 60%;
    top: 7px;
    left: 10px;
    font-style: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.guanbi{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0;
}
.guanbi a{
    background-image: url(../img/8.png);
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    position: absolute;
    right: -5px;
    top: -8px;
    width: 30px;
    height: 30px;
    margin-left: 0;
    background-position: -60px -195px;
}
.guanbi a:hover{
    background-position: -91px -195px;
}