section#content header.topinfo {
    margin: 20px 20px;
}
section#content header.topinfo h1 {
    position: relative;
    padding-bottom: 20px !important;
    margin-bottom: 20px !important;
    text-align: center;
    font-size: 24px;
}
section#content #main section.comments {
    margin-top: 40px;
}
section#content #main section.comments h3 {
    position: relative;
    padding-bottom: 20px !important;
    margin-bottom: 20px !important;
    text-align: center;
}
section#content #main section.comments .comment-respond {
    padding-top: 20px;
}
section#content #main section.comments h3 {
    position: relative;
    padding-bottom: 20px !important;
    margin-bottom: 20px !important;
    text-align: center;
}
textarea.form-control {
    height: auto;
}
.form-control {
    display: block;
    width: 100%;
    height: 51px;
    padding: 12px 6px;
    font-size: 14px;
    line-height: 1.8;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
p{
    margin: 0 0 12.5px;
    overflow: hidden;
}
.row {
    padding-bottom: 20px;
}
#btn-submit {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 12px 6px;
    font-size: 14px;
    line-height: 1.8;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-width: 4px;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    color: #95a5a6;
    background-color: #ffffff;
    border-color: #95a5a6;

}
.form-submit{
    text-align: right;
    float: right;
}
