body,p,ul,li,dt,dd,input,form,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding: 0;
}
.innerWidth{
	width:1000px;
	margin:0 auto;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #222;
}
.reclear:after{
	content:"";
	display: block;
	width: 0;
	height: 0;
	clear: both;
}
/* header 样式 */
.header{
	width:100%;
	height: 70px;
	border-bottom: 1px solid #e9e9e9;
	background:#FAFAFA;
	color: #5c5c5c;
}
.header_con{
	width: 1000px;
	height: 100%;
	margin:0 auto;
	font-size: 12px;
	line-height: 70px;
}
.left_con li{
	float: left;
	width: 76px;
	text-align: center;
	height: 100%;
	font-size:16px;
	cursor: pointer;
}
.left_con li:hover{
	background: #dc0000;
	color: #fff;
}
.right_con {
	float: right;
}
.right_con div{
	float: left;
	margin-right: 10px;
	cursor: pointer;
	font-size: 18px;
}
/* content 样式 */
.con{
	width:670px;
	float: left;
}
.time{
	padding-left: 22px;
	width:100%;
	height: 30px;
	margin:22px auto;
	background: url(../image/icons.png) 0 2px no-repeat;
	color: #404040;
}
.time span{
	padding-right: 4px;
}
.place:hover,.wTp:hover{
	color: #dc0000;
	cursor: pointer;
}
.con h2{
	float: left;
	margin-bottom: 15px;
}
.con h2 a:hover{
	color: #dc0000;
}
.btn{
	width:19px;
	height: 15px;
	background: url(../image/icons.png) no-repeat 0 -33px;
	float: right;
	margin-top: 8px;
	padding-right: 3px;
	z-index: 999;
}
.clear{
	clear: both;
}
.lists{
	margin-bottom: 10px;
}
.lists ul li{
	padding:5px 0 5px 14px;
}
.lists ul li a:hover{
	color: #dc0000;
}
.wrap{
	padding-top: 15px;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	position: relative;
	padding-bottom: 15px;
	box-sizing:border-box;
}
.wrap:after{
	content: "";
	display: block;
	width:0;
	height: 0;
	clear: both;
}
.wrap:hover{
	background: #fafafa;
}
.wrap .pic{
	display: inline-block;
	width: 120px;
	height: 96px;
	float: left;
	overflow: hidden;
}
.wrap .pic img{
	transition:all 0.3s linear;
}
.wrap .pic img:hover{
	transform:scale(1.2);
	transition:all 0.3s linear;
}
.wrap .text{
	display: inline-block;
	margin-left: 30px;
}
.wrap .text .t_em{
	font-style: normal;
	font-size: 20px;
	line-height: 22px;
	font-weight: 400;
}
.wrap .text .t_em a:hover{
	color: #dc0000;
}
.wrap .btn{
	position: absolute;
	right: 0;
	bottom: 28px;
}
.wrap1{
	border-top: none;
}
.box{
	padding-top:15px;
	padding-bottom: 35px;
	border-bottom: 1px solid #f0f0f0;
}
.box h3{
	font-weight: 400;
}
.box a{
	display: inline-block;
	padding-top: 10px;
	margin-right: 20px;
}


/* con_info 样式 */
.con_info{
	margin-top: 30px;
}
.stitle{
	border-bottom: 2px solid #c1c1c1;
	line-height: 32px;
	height: 32px;
}
.stitle span{
	float: left;
}
.stitle span em{
	display: block;
	font-style: normal;
	font-size: 20px;
	color: #222;
	padding:0 2px;
	margin-bottom: 3px;
	border-bottom: 2px solid #e23838;
}
.stitle .more{
	float: right;
	color: #9e9e9e;
	font-size: 14px;
}
.stitle .more:hover{
	color: #000;
}
.con_info .con{
	margin-top: 20px;
}
.con_info .con .pic{
	float: left;
	width: 275px;
	overflow: hidden;
}
.con_info .con .pic ul{
	width:290px;
}
.con_info .con .pic ul li{
	float: left;
	margin-right: 11px;
}
.con_info .con .pic ul li a{
	display: block;
	color: #404040;
	overflow: hidden;
}
.con_info .con .pic ul li.first a img{
	width:275px;
	height: 142px;
	transition:all .3s linear;
}
.con_info .con .pic ul li.first a img:hover,
.con_info .con .pic ul li a img:hover{
	transform:scale(1.2);
	transition:all .3s linear;
}
.con_info .con .pic ul li.first a p{
	font-size: 16px;
	padding:4px 6px 0;
	margin-bottom: 10px;
	height: 23px;
	width:275px;
}
.con_info .con .pic ul li a img{
	width:130px;
	height: 104px;
	vertical-align: bottom;
	transition:all .3s linear;
}
.con_info .con .pic ul li a p{
	font-size: 12px;
	height: 35px;
	overflow: hidden;
	padding: 4px 2px;
	width:130px;
}
.con_info .con .pic ul li a:hover p{
	color: #e23838
}
.con_info .con .pic ul li:hover{
	background: #fafafa;
}
.con_info .con .text{
	float: right;
	width: 366px;
	font-size: 16px;
	overflow: hidden;
}
.con_info .con .text ul{
	margin-top: -17px;
}
.con_info .con .text ul li.t_li{
	border:none;
}
.con_info .con .text ul li{
	height: 56px;
	line-height: 56px;
	border-top: 1px solid #f0f0f0;
}
.con_info .con .text ul li a:hover{
	color: #e23838;
}
.con_info{
	margin-bottom: 20px;
}
/* side 样式 */
.side{
	float: right;
	width: 320px;
	margin-bottom: 30px;
}
.side .item{
	padding-top: 10px;
	background: #fafafa;
	margin-bottom: 30px;
}
.etitle h3{
	position: relative;
	left: 0;
	border-left: 4px solid #e23838;
	height: 20px;
	margin-top: 10px;
}
.etitle h3 a{
	display: block;
	width: 166px;
	height: 30px;
	background: url(../image/jrhtLogo.png) no-repeat;
	margin-left: 10px;
}
.item .t_con{
	margin-top: 16px;
	padding:0 12px 20px;
}
.item .t_con a:hover{
	color: 	#dc0000;
}
.info a{
	padding-left: 12px;
	float: left;
}
.info .info_text{
	font-size: 14px;
	color: #acacac;
	position: relative;
	left: 8px;
}
.info .info_text a{
	display: inline;
}
.item ul li{
	padding-left: 12px;
	background: url(../image/icons.png) 0 -1132px no-repeat;
	line-height: 28px;
	height: 28px;
}
.item ul li a{
	font-size: 14px;
}
.item2 .etitle h3 a{
	background: url(../image/yxl.png) no-repeat;
}
.inner{
	width:100%;
	height: 100%;
	position: relative;
	margin-top: 10px;
	text-align: center;
	background: #fafafa;
}
.inner a{
	position: absolute;
	left:8px;
	top:-4px;
}
.inner .tab{
	position: absolute;
	left: 0;
	right: 0;
	margin:auto;
	bottom: -200px;
	width:55px;
	height: 20px;
}
.inner .tab li{
	width:6px;
	height: 6px;
	border-radius: 50%;
	background: #b7b7b7;
	float: left;
	padding:0;
	margin-right: 5px;
	z-index:99;
}
.inner .button span{
	display:block;
	width:30px;
	height: 46px;
	text-align: center;
	line-height: 46px;
	background: rgba(0,0,0,0.5);
	top:0;
	bottom: 0;
	margin:auto;
	opacity: 0.8;
	position: absolute;
	font-weight: 400;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}
.inner .button span.prev{
	left:8px;
	top:195px;
}
.inner .button span.next{
	right:12px;
	top:195px;
}
.item3{
	margin-top: 236px;
}
.item3 .etitle h3 a{
	background: url(../image/xwbk.png) no-repeat;
}
.item3 .i3_img a{
	display: block;
	padding-left: 12px;
	padding-top: 17px;
	float: left;
}
.item3 .i3_a{
	position: relative;
	top: 13px;
	font-size: 16px;
	margin-left: 10px;
}
.item3 .text{
	color: #acacac;
	font-size: 14px;
	margin-top: 25px;
	padding-left: 10px;
}
/* footer 样式 */
.footer{
	background: #fafafa;
	margin-top: 38px;
	border-top: 1px solid #e5e5e5;
}
.footer .f_bot{
	padding-top: 100px;
}
.footer .f_head{
	position: relative;
	margin-bottom: 50px;
}
.footer .f_bot .f_head h2{
	font-weight: 300;
	float: left;
}
.footer .f_head .status_btn{
	float: right;
	font-size: 12px;
	background: url(../image/icons.png) 56px -941px no-repeat;
	position: absolute;
	display: block;
	right: 0px;
	top:4px;
	padding-right: 28px;
}
.footer .f_head .status_btn:hover{
	color: #dc0000;
	background-position: 56px -988px;
}
.footer .bd{
	color: #5f5f5f;
}
.footer .bd .em_p{
	margin-bottom: 10px;
}
.footer .bd .em_p em{
	font-size: 14px;
	float: left;
	font-style: normal;
	margin-right: 45px;
	margin-top: 2px;
}
.footer .bd .em_p p{
}
.footer .bd .em_p p a{
	font-size: 12px;
	padding:0 1px;
}
.footer .bd .em_p p a:hover{
	color:#dc0000;
}
.footer .f_bot .line{
	width:100%;
	height: 1px;
	background: #ccc;
	/*border:1px solid #ccc;*/
}
.footer .f_bot .copyright{
	text-align: center;
	margin-top: 20px;
}
.footer .f_bot .copyright div a{
	color: #5f5f5f;
	font-size: 12px;
	padding:0 1px;
}
.footer .f_bot .en{
	color: #5f5f5f;
	text-align: center;
	margin-top: 10px;
	font-size: 12px;
}
.footer .f_bot .bt{
	text-align: center;
	font-size: 12px;
	color: #5f5f5f;
	margin-top: 10px;
	margin-bottom: 30px;
}