*{
    padding: 0;
    margin: 0;
    list-style: none;
}
body,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image:url(../img/timg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.form{
	width: 500px;
	height: 400px;
	position: absolute;
	left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	margin: auto;
}
label{
	display: block;
	padding: 10px 0;
	text-align: center;
}
.form h2{
    text-align: center;
    line-height: 80px;
    font-family: '苹方';
    font-weight: 500;
    color: #333;
}
.form>label>input{
    width: 286px;
    height: 30px;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 3px #ccc ;
    text-indent: 1em;
}
.form > div{
    text-align: center;
    margin-top: 15px;
}
.form > div:last-child input{
    width: 100px;
    height: 30px;
    margin-right: 80px;
    margin-top: 20px;
}
.form > div:last-child button{
    width: 100px;
    height: 30px;
    margin-left: 30px;
}
.form > div:last-child input,
.form > div:last-child button {
    border: none;
    background: #pink;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.form p{
    text-align: center;
    margin: 40px auto;
    width: 300px;
    height: 30px;
    line-height: 40px;
}