
.top{
	width: 100%;
	height: 50px;
	margin: 0 auto;
	background: #0F2851;
}
.ding{
	width: 100%;
	height: 100px;
	margin: 0 auto;
	background-image: url('../img/1.jpg');
	background-position: center center;
	background-repeat: no-repeat;
}
.ding>img{
	width: 100%;
}
.dh{
	width: 1198px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}
.dh>a{
	display: block;
	width:158px;
	height: 100%;
	border-right: 1px solid #2D466F;
	border-left: 1px solid #2D466F;
	line-height: 50px;
	float: left;
	color: #fff;
}
.dh>a:hover{
	color: #CCB867;
}
ul{
	width:1040px;
	height: 100%;
	float: left;
	text-align: center;
	box-sizing: border-box;	
}
.dh>ul>li{
	float: left;
	width: 130px;
	height: 100%;
	border-right: 1px solid #2D466F;
	box-sizing: border-box;	
}
.dh>ul>li:nth-child(4)>a{
	color: #CCB867;
}
.dh>ul>li>a{
	line-height: 50px;
	color: #fff;
}
.dh>ul>li:hover>a{
	color: #CCB867;
}
.mbx{
	width: 1200px;
	height: 30px;	
	margin: 0 auto;
	margin-top: 30px;
}
.mbx>p{
	font-size: 15px;
	float: left;
	color: #000;
}
.xian{
	width: 100%;
	height: 1px;
	background: #ccc;
}
.biaoti{
	width: 1200px;
	height: 30px;
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
}
.biaoti>p{
	font-size: 20px;
	line-height: 30px;
	color: #000;
}
.time{
	width: 1200px;
	height: 50px;
	margin: 0 auto;
}
.time>p{
	font-size: 15px;
	float: left;
}
.zhengwen{
	width: 1200px;
	height: 30px;
	margin: 0 auto;
}
.zhengwen>span{
	float: left;
	font-size: 15px;
}

.lyq{
	width: 1200px;
	height: 500px;
	margin: 0 auto;
	margin-top: 350px;
}
.lyq>h2{
	font-size: 20px;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;.
}
.lyq>ul{
	width: 80%;
	height: auto;
	margin: 0 auto;
	margin-top: 30px;
}
.lyq>ul>li{
	width: 100%;
	height: 30px;
	font-size: 15px;
	text-align: left;
	border-bottom: 1px solid #ccc;	
	margin-left: 30px;
}
.lyq>.input>textarea{
	width: 100%;
	height: 200px;
	box-sizing:border-box;
	margin-top: 30px;
}
.lyq>.input button{
	width: 60px;
	height: 30px;
	margin:0 auto;
	text-align: center;
	margin-left: 45%; 	
}
button{
	background: #ccc;
}
.lyq>.zii{
	width:100%;
	height: 80px;
	line-height: 80px;
	margin-top: -20px;
}
.lyq>a{
	display: block;
	width: 50px;
	height: 30px;
	float: right;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
	background: #ccc;
	color: #fff;
}
.bottom{
	width: 1200px;
	height: 100px;
	margin: 0 auto;
	border-top: 2px solid #ccc;
	margin-top: 100px;
} 
.bottom>.leftt{
	width: 70%;
	height: 60%;
	float: left;
}
.bottom>.leftt>a{
	font-size: 13px;
	float: left;
	margin-left: 15px;
	line-height: 60px;
	color: #333;
}
.bottom>.rightt{
	width: 30%;
	height: 60%;
	float: right;
}
.bottom>.rightt>a{
	font-size: 13px;
	float: right;
	margin-left: 15px;
	line-height: 60px;
	color: #333;
}
.bottom>.leftt>a:hover{
	color: #8d0000;
}
.bottom>.rightt>a:hover{
	color: #8d0000;
}
.bottom>p{
	font-size: 13px;
	text-align: center;
	color: #666;
}