.top{
	width: 100%;
	height: 50px;
	margin: 0 auto;
	background: #0F2851;
}
.ding{
	width: 100%;
	height: 100px;
	margin: 0 auto;
	background-image: url('../img/1.jpg');
	background-position: center center;
	background-repeat: no-repeat;
}
.ding>img{
	width: 100%;
}
.dh{
	width: 1198px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}
.dh>a{
	display: block;
	width:158px;
	height: 100%;
	border-right: 1px solid #2D466F;
	border-left: 1px solid #2D466F;
	line-height: 50px;
	float: left;
	color: #fff;
}
.dh>a:hover{
	color: #CCB867;
}
ul{
	width:1040px;
	height: 100%;
	float: left;
	text-align: center;
}
.dh>ul>li{
	float: left;
	width: 130px;
	height: 100%;
	border-right: 1px solid #2D466F;
	box-sizing: border-box;	
}
.dh>ul>li:nth-child(4)>a{
	color: #CCB867;
}
.dh>ul>li>a{
	line-height: 50px;
	color: #fff;
}
.dh>ul>li:hover>a{
	color: #CCB867;
}

.box{
	width: 1200px;
	height: 500px;
	margin: 0 auto;
}
.box>.left{
	width: 30%;
	height: 100%;
	float: left;
}
.box>.left>ul{
	width: 100%;
	height: 100%;
}
.box>.left>ul>li{
	width: 100%;
	height: 50%;
	float: left;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
}
.box>.left>ul>li>a{
	font-size: 17px;
	float: left;
	margin-left: 20px;
	color: #000;
	margin-top: 30px;
	display: block;
}
.box>.left>ul>li>a:hover{
	color: #F54343;
}
.box>.left>ul>li>.zi>a{
	font-size: 12px;
	float: left;
	margin-left: 20px;
	color: #000;
	margin-top: 20px;
	display: block;
}
.box>.left>ul>li>.zi>a:hover{
	color: #F54343;
}

.box>.right{
	width: 70%;
	height: 100%;
	float: left;
}
.l-o{
	width: 1200px;
	height: 300px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
}
.l-o>.lt{
	width: 70%;
	height: 100%;
	float: left;
}
.l-o>.lt>ul{
	width: 100%;
	height: 100%;
	float: left;
}
.l-o>.lt>ul>li{
	width: 25%;
	height: 100%;
	float: left;
}

.l-o>.lt>ul>li>p{
	font-size: 15px;
	color: #7F94DA;
	margin-top: 20px;
	margin-left: 15px;
	float: left;
}
.l-o>.lt>ul>li>.aa{
	width: 150px;
	margin-top: 30px;
	display: block;
	margin-left: 15px;
	float: left;

}
.l-o>.lt>ul>li>.aa>img{
	width: 100%;
}
.l-o>.lt>ul>li>a{
	font-size: 12px;
	display: block;
	margin-top: 30px;
	margin-left: 15px;
	float: left;
	color:#333 ;
}
.l-o>.paihang{
	width: 30%;
	height: 100%;
	float: left;
}
.l-o>.paihang>p{
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	border-bottom: 1px solid #ccc;
}
.l-o>.paihang>ul{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.l-o>.paihang>ul>li{
	width: 100%;
	height:50px;
	float: left;
}
.l-o>.paihang>ul>li>a{
	display: block;
	margin-left: 10px;
	margin-top: 15px;
	font-size: 15px;
	color: #000;
	float: left;
}
.l-o>.paihang>ul>li>a:hover{
	color: #CCB867;
}
.bbb{
	width: 1200px;
	height: 350px;
	margin: 0 auto;
}
.bbb>p{
	font-size: 20px;
	float: left;
	color: #4D8AD9;
}
.bbb>ul{
	width: 100%;
	height: 300px;
	float: left;
	margin-top: 10px;
	border-top: 1px  solid #ccc;
}
.bbb>ul>li{
	width: 18%;
	height: 80%;
	float: left;
	margin-left: 24px;
}
.bbb>ul>li>a{
	float: left;
	display: block;
}
.bbb>ul>li>a>img{
	width: 100%;
}
.bbb>ul>li>span{
	font-size: 15px;
	float: left;

}
.bottom{
	width: 1200px;
	height: 100px;
	margin: 0 auto;
	border-top: 2px solid #ccc;
	margin-top: 100px;
} 
.bottom>.leftt{
	width: 70%;
	height: 60%;
	float: left;
}
.bottom>.leftt>a{
	font-size: 13px;
	float: left;
	margin-left: 15px;
	line-height: 60px;
	color: #333;
}
.bottom>.rightt{
	width: 30%;
	height: 60%;
	float: right;
}
.bottom>.rightt>a{
	font-size: 13px;
	float: right;
	margin-left: 15px;
	line-height: 60px;
	color: #333;
}
.bottom>.leftt>a:hover{
	color: #8d0000;
}
.bottom>.rightt>a:hover{
	color: #8d0000;
}
.bottom>p{
	font-size: 13px;
	text-align: center;
	color: #666;
}