body{
    font-family: "苹方 常规";
}

header{
    width:100%;
    height:70px;
    background: #E1652F;
    position: fixed;
    top:0;
    z-index:100;
}
.head{
    width:1264px;
    height:70px;
    margin:0 auto;
}
.head-left{
    float: left;
}
.head-left a{
    width:100%;
    height:100%;
}
.t{
    width:180px;
    height:74px;
}
.head-margin{
    height:70px;
    float: left;
    /*overflow: hidden;*/
}
.head-margin .col-xs-12 li{
    font-size: 20px;
    text-align: center;
    line-height: 70px;
    color: #fff;
    float: left;
}
.head-margin .col-xs-12 li:hover{
    background: #E44D26;
}
.head-margin .col-xs-12 li:nth-child(4){
    position: relative;
}
.head-margin .col-xs-12 li .t1{
    width: 10px;
    position: absolute;
    top: 0;
    right:15px;
    bottom: 0;
    margin:auto;
}
.head-right{
    height:70px;
    float: right;
    padding-top:20px;
}
.login{
    width:70px;
    height:32px;
    background: #E44D26;
    color: #fff;
    border:0;
    cursor: pointer;
}
.login:hover{
    background: #D84824;
}
.enroll{
    width:70px;
    height:32px;
    background: #E6E6E6;
    color: #000;
    border:0;
    cursor: pointer;
}
.enroll:hover{
    background: #888;
}
.zhanwei{
    width:100%;
    height:80px;
}
.banner-box{
    width:100%;
    height:453px;
    position: relative;
    transition: all 1s;
}
.banner-box .t2{
    width:100%;
    height:453px;
    position: absolute;
    top:0;
    left:0;
}
.active{
    z-index:2;
}
.banner-box ul{
    display: block;
    width:100%;
    height:6px;
    position: absolute;
    bottom:0;
    left:0;
    z-index:200;
}
.banner-box ul li{
    width:25%;
    height:100%;
    float: left;
    cursor: pointer;
}
.tts{
    background: #E1652F;
}
.box{
    width:100%;
    height:427px;
    margin-top: 15px;
}
.box-top{
    width:100%;
    height:15%;
    position: relative;
}
.box-top .tiao{
    background: #E44D26;
    width:40%;
    height:2px;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    margin:auto;
}
.box-top .tiao1{
    background: #E44D26;
    width:40%;
    height:2px;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    margin:auto;
}
.box-top h4{
    width:80px;
    height:20px;
    display: block;
    color: #7B7B7B;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    text-align: center;
}
.box-bottom{
    width:100%;
    height:85%;
}
.box-bottom .box2{
    width:100%;
    height:170px;
    float: left;
    margin-bottom: 10px;
    position: relative;
}
.box-bottom .box2 .t3{
    width:100%;
    height:100%;
}
.box-bottom .box2 span{
    width:100%;
    height:30px;
    position: absolute;
    bottom:0;
    left:0;
    background: rgba(0,0,0,0.5);
    color: #fff;
    line-height:30px;
    font-size: 12px;
}
.banner1{
    width:100%;
    height:164px;
    padding-top: 10px;
    /*padding-left: 15px;*/
    margin:0 -15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.banner2{
    width:100%;
    height:100%;
    position: relative;
    margin:0 -15px;
}
.banner2 .t3{
    width:100%;
    height:100%;
}
.banner2 span{
    width:100%;
    height:30px;
    position: absolute;
    bottom:0;
    left:0;
    background: rgba(0,0,0,0.5);
    color: #fff;
    line-height:30px;
    font-size: 12px;
}
.content-left{
    width:100%;
    height:1314px;
    margin-top: 50px;
}
.content1{
    width:100%;
    height:448px;
    margin-top: 20px;
}
.content1 .title{
    width:100%;
    height:55px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #ccc;
}
.content1 .title h2{
    width:40%;
    height:32px;
    line-height:38px;
    color: #216699;
}
.content1 .title em{
    font-size: 12px;
    line-height: 15px;
    color: #333;
}
.article{
    width:100%;
    height:198px;
}
.article ul{
    width:100%;
    height:100%;
    border-bottom: 1px solid #ccc;
}
.article ul li{
    width:100%;
    height:27px;
    font-size: 15px;
    line-height: 25px;
    color: #222222;
}
.article ul li:nth-child(1){
    height:52px;
    font-size: 18px;
    line-height:60px;
    font-weight:bold;
}
.box{
    width:100%;
    height:170px;
    position: relative;
}
.box .t{
    width:100%;
    height:100%;
}
.box em{
    width:100%;
    height:20px;
    font-size: 15px;
    line-height: 20px;
    background: rgba(0,0,0,0.8);
    position: absolute;
    bottom:0;
    left:0;
    color: #ccc;
}
.content-right{
    width:100%;
    height:1350px;
    margin-top: 50px;
}
.title1{
    width:100%;
    height:52px;
    border-top: 1px solid #222;
    border-bottom: 1px solid #ccc;
}
.title1 h2{
    width:40%;
    height:32px;
    line-height:38px;
    color: #216699;
}
.title1 em{
    font-size: 12px;
    line-height: 15px;
    color: #333;
}
.article1{
    width:100%;
    height:415px;
    border-bottom: 1px solid #ccc;
}
.article1 ul{
    width:100%;
    height:100%;
}
.article1 ul li{
    width:100%;
    height:100px;
    border-bottom: 1px dashed #ccc;
}
.article1 ul li img{
    width:40%;
    height:76px;
    float: left;
    margin-top: 10px;
}
.article1 ul li a{
    display: block;
    width:60%;
    height:76px;
    float: right;
    color: #222;
    margin-top: 10px;
}





footer{
    width:100%;
    height:560px;
    background: #222222;
    float: left;
    padding: 50px 0;
    text-align: center;
    margin-top: 50px;
}
.foot{
    max-width: 550px;
    margin: 0 auto;
}
.foot ul{
    width:100%;
    height:37px;
    display: flex;
    justify-content:space-around;
}
.foot ul li{
    float: left;
    font-size: 18px;
    height:37px;
}
.btnlogo{
    margin: 20px 0;
    max-width: 500px;
    text-align: center;
}
.btnlogo img{
    width: 300px;
}
p{
    width:100%;
    height:100px;
    padding:20px 0;
    font-size: 16px;
    text-align: center;
    color: #fff;
}
p a{
    font-size: 16px;
    text-align: center;
}
.foot1{
    width:350px;
    height:165px;
    margin:0 auto;
    position: relative;
    display: flex;
    justify-content:space-around;
}
.ws{
    width:48%;
    height:100%;
    float: left;
}
.ws img{
    width:100%;
    height:100%;
}
.ws em{
    width:100%;
    height:20px;
    background: rgba(0,0,0,0.5);
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    float: left;
}