.top{
    width:100%;
    height:40px;
    background: url("../img/1.jpg") 0 bottom repeat-x;
    position: fixed;
    left:0;
    top:0;
    z-index: 9999;
}
.top main{
    width:1000px;
    height:100%;
    margin: 0 auto;
}
.left{
    width:411px;
    height:100%;
    float: left;
}
.left ul{
    width:100%;
    height:100%;
}
.left ul li{
    float: left;
    font-size: 12px;
    color: #333;
    line-height: 40px;
    text-align: center;
    padding: 0 5px;
}
.right{
    width:290px;
    height:100%;
    float: right;
}
.right ul{
    float: right;
}
.right ul li{
    float: left;
    font-size: 12px;
    color: #333;
    line-height: 40px;
    text-align: center;
    padding: 0 5px;
}
.login{
    width:44px;
    height:40px;
    float: right;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
}

/*广告*/
.ad{
    width:100%;
    height:90px;
    margin-top: 60px;
}
.ad  main{
    width:1000px;
    height:100%;
    margin: 0 auto;
}
.ad-left{
    width:660px;
    height:100%;
    float: left;
}
.ad-left a{
    display: block;
    width:100%;
    height:100%;
}
img{
    width:100%;
    height:100%;
}
.ad-right{
    width:320px;
    height:100%;
    float: right;
}
/*搜索*/
.ss{
    width:1000px;
    height:97px;
    margin:0 auto;
}
.logo{
    width:230px;
    height:80px;
    float: left;
}
.search{
    width: 710px;
    float: left;
    position: relative;
    margin: 28px 0 24px 29px;
}
.search1{
    width:100%;
    height:45px;
}
.search1 .input{
    width: 340px;
    height: 38px;
    margin-top: 6px;
    float: left;
    padding: 4px 0 3px;
    border: #e6e6e6 1px solid;
    position: relative;
}
.input-zuo{
    float: left;
    width:69px;
    height:30px;
    position: absolute;
    left:0;
    top:4px;
    text-align: center;
    line-height: 30px;
    color: #999;
    border-right: 1px solid #e6e6e6;
}
.input input{
    position: absolute;
    width: 233px;
    height: 29px;
    left:75px;
    top:4px;
    border: none;
    outline: none;
}
.input .s{
    top: 4px;
    right: 0;
    width: 36px;
    height: 30px;
    background: #fff url(../img/4.jpg) no-repeat 5px 7px;
    position: absolute;
}
.list{
    width:338px;
    height:45px;
    float: right;
}
.list li:first-child{
    /*height: 33px;*/
    padding-top: 10px;
    width: 102px;
}
.list li{
    width: 58px;
    height: 43px;
    float: left;
    text-align: center;
    font-size: 12px;
    line-height: 43px;
    border:1px solid #e6e6e6;
    color: #1e63af;
}
/*分类导航*/
.fenlei{
    width:100%;
    height:64px;
    background: url("../img/6.jpg") repeat-x;
}
.fenlei main{
    width: 1000px;
    height:100%;
    margin:0 auto;
}
.fenlei ul{
    width:100%;
    height:100%;
}
.fenlei ul li{
    float: left;
}
.fenlei main>ul>li:first-child{
    width: 343px;
    height:100%;
    padding: 8px 0px;
    border-right: 1px solid #ccc;
}
.fenlei main>ul>li:nth-child(2){
    height: 100%;
    width: 277px;
    padding: 8px 0px;
    border-right: 1px solid #ccc;
}
.fenlei main>ul>li:nth-child(3){
    height: 100%;
    width: 141px;
    padding: 8px 0px;
    border-right: 1px solid #ccc;
}
.fenlei main>ul>li:nth-child(4){
     height: 100%;
     width: 167px;
     padding: 8px 0px;
     border-right: 1px solid #ccc;
 }
.fenlei main>ul>li:nth-child(5){
    height: 100%;
    width: 71px;
    padding: 8px 0px;
}
.fenlei main>ul>li:nth-child(4)>ul>li{
    width:81px;
    height:24px;
    padding:0 21px;
    line-height: 24px;
    font-size: 13px;
    color: #fff;
    text-align: center;
}
.fenlei>ul>li>ul{
    width:100%;
    height:100%;

}
.fenlei main>ul>li>ul>li{
    width:68px;
    height:24px;
    padding:0 21px;
    line-height: 24px;
    font-size: 13px;
    color: #fff;
    text-align: center;
}
/*导航下*/
.tiao{
    width:100%;
    height:39px;
    background: rgb(243, 243, 243);
    border-bottom: 1px solid rgb(213, 213, 213);
}
.tiao main{
    width:1000px;
    height:100%;
    margin:0 auto;
    color: rgb(3, 50, 102);
    padding: 0px 14px;
    font-size: 13px;
    line-height:39px;
    display: flex;
    justify-content: space-between;
}
a{
    color: rgb(3, 50, 102);
}
/*title*/
.title{
    width:1000px;
    height:102px;
    margin:0 auto;
    margin-top: 30px;
    position: relative;
    background: rgb(243, 243, 243);
    border:1px solid rgb(230, 230, 230);;
}
.title span{
    display: block;
    width: 74px;
    height: 74px;
    position: absolute;
    left: -2px;
    top: -2px;
    background: url("../img/6.png") no-repeat;
}
.title p:nth-child(2){
    text-align: center;
    color: rgb(0, 68, 102);
    font-size: 34px;
    font-weight: bold;
    padding: 10px 0px 14px;
}
.title p:nth-child(3){
    padding-left: 10px;
}
.title p:nth-child(3) a{
    color: rgb(3, 50, 102);
    font-size: 14px;
}
/*banner*/
.bannerbox{
    width:1000px;
    height:432px;
    margin:0 auto;
    margin-top: 13px;
}
.banner{
    width:660px;
    height:402px;
    float: left;
    padding-top: 16px;
    position: relative;
}
.banner ul li span{
    position: absolute;
    left: 0px;
    bottom: -25px;
    height: 38px;
    text-align: center;
    color: rgb(0, 0, 0);
    z-index: 9999;
    width: 100%;
    font: 21px/38px "Microsoft YaHei";
    background: rgb(30, 99, 176);
}
.lunbo{
    width:180px;
    height:10px;
    position: absolute;
    bottom: 17px;
    left: 244px;
}
.lunbo ul li{
    width: 10px;
    height: 10px;
    float: left;
    margin-right: 8px;
    cursor: pointer;
    background: rgb(220, 220, 220);
}
 .lunbo .active{
    background: rgb(29, 100, 175);
}
 .banner-news{
     width: 320px;
     float: right;
     height:100%;
 }
 .b-top{
     width:100%;
     height:72px;
 }
 .b-title{
     width:100%;
     height:20px;
     margin: 6px 0;
 }
 .b-title span{
     display: block;
     width:66px;
     height:20px;
     background: rgb(197, 8, 25);
     border-radius: 3px;
     text-align: center;
     float: left;
     margin-right: 10px;
 }
 .b-title span i{
     color: #fff;
     font: 14px/20px SimSun, sans-serif;
 }
 .b-title a{
     color: rgb(3, 50, 102);
     font-size: 14px;
 }
 .fenge{
     width: 100%;
     height: 8px;
     border-bottom: 1px solid #d9d9d9;
     margin-bottom: 10px;
 }
 .text{
     width:100%;
     height:196px;
 }
 .text h3{
     color: rgb(183, 25, 0);
     font: 18px/21px "Microsoft YaHei";
     margin: 0px 0px 11px;
 }
 .text h3 a{
     color: rgb(183, 25, 0);
 }
 .text h4{
     color: rgb(3, 50, 102);
     font: 14px/20px SimSun, sans-serif;
     margin: 0px 0px 4px;
 }
 .text h4 em{
     font-weight: bold;
     font-style: normal;
     margin-right: 10px;
     display: inline-block;
 }
 .b-bottom{
     width:100%;
     height:57px;
 }
 .b-bottom-top{
     width:100%;
     height:38px;
     font-size: 17px;
     line-height: 38px;
 }
 .b-bottom-top span{
     height:38px;
 }
 .b-bottom-top span a{
     color: rgb(183, 25, 0);
 }
 .b-bottom-top span:nth-child(2){
     margin-right: 30px;
     float: right;
     padding-left: 50px;
     height: 38px;
     line-height: 38px;
     font: 18px/42px '微软雅黑';
 }
.b-bottom .b-title:nth-child(2) span{
    background: rgb(30, 99, 176);;
}
/*newslist*/
.newslist{
    width:1000px;
    height:1002px;
    margin:0 auto;
    border-bottom: 1px dashed #333;
    margin-top: 20px;
}
.news-left{
    width:660px;
    height:986px;
    float: left;
}
.news-zuo{
    width:320px;
    height:100%;
    float: left;
    border-top: 1px dotted rgb(115, 130, 145);
    padding: 15px 0px 8px;
}
.news1{
    width:100%;
    height:73px;
    margin-bottom: 7px;
}
.news1 span:first-child{
    float: left;
    display: block;
    width: 124px;
    height: 73px;
    overflow: hidden;
    margin: 0px 10px 0px 5px;
}
.news1 span:nth-child(2){
    display: block;
    float: left;
    width: 175px;
    font-size: 14px;
    line-height: 22px;
    margin: 0px !important;
    padding:10px 0;
    margin-top: 10px;
}
.news-zuo ul{
    width:100%;
    height:60px;
    border-top: 1px solid rgb(230, 230, 230);
    display: flex;
    justify-content: space-between;
}
.news-zuo ul li{
    border-right:1px solid rgb(230, 230, 230);
    /*border-bottom: 1px dotted rgb(115, 130, 145);*/
}
.news-zuo> ul li>a{
    display: block;
    margin-top: 10px;
    width: 106px;
    height: 50px;
    position: relative;
    background: url("../img/8.png") 15px 0px no-repeat;
}
.news-zuo ul li a span{
    display: inline-block;
    position: absolute;
    top: 4px;
    right: 14px;
    color: rgb(12, 47, 87);
    font-size: 14px;
}
.news2{
    width:100%;
    height:189px;
}
.news2-top{
    width:100%;
    height:44px;
    border-bottom: #e6e6e6 1px solid;
}
.news2-top span:nth-child(1){
    width:153px;
    height:100%;
    display: block;
    padding-left: 81px;
    float: left;
    color: rgb(51, 51, 51);
    font: 17px/42px "Microsoft YaHei";
    background: url("../img/10.jpg") no-repeat left 13px;
}
.news2-top span:nth-child(2){
    display: block;
    width:92px;
    height:100%;
    float: right;
    line-height: 44px;
}
.news2-top span:nth-child(2) a{
    color: #666666;
    padding: 1px 20px 0 0;
    background: url('../img/11.jpg') right -86px no-repeat;
    font-size: 12px;
}
.news2-bottom{
    width:100%;
    height:145px;
    padding-top: 16px;
}
.news2-1{
    width:100%;
    height:71px;
    padding: 0 5px;
}
.news2-11{
    width: 120px;
    height:100%;
    float: left;
}
.news2-12{
    width:180px;
    height:100%;
    float: right;
}
.news2-12 h3{
    margin-bottom: 3px;
    font: bold 14px/16px "SimSun",sans-serif;
    color: #033266;
    margin: 0 0 10px 0;
}
.news2-12 p{
    font-size: 12px;
}
.news2-2{
    width:100%;
    height:48px;padding: 0 5px;
margin-top: 10px;
}
.news2-2 .news2-21{
    width:100%;
    height:100%;
    display: block;
    border:none;
}
.news2-2 .news2-21 li{
    width:100%;
    height:24px;
    background: url("../img/9.png") 0 -41px no-repeat;
    border:none;
    font: 14px/24px "SimSun",sans-serif;
    color: #333;
    padding: 0 0 0 12px;
}
.news3{
    width:100%;
    height:234px;
    margin-top: 18px;
}
.news3-1{
    width: 100%;
    height:100px;
    margin-top: 20px;
}
.news3-1-title{
    width:100%;
    height:25px;
    padding-left: 5px;
    font-size: 14px;
    font-family: "SimSun",sans-serif;
    margin-bottom: 8px;
}
.news3-1-title span{
    font-size: 19px;
    font-family: "Microsoft YaHei";
    font-weight: bold;
    color: #033266;
    margin-right: 22px;
}
.news3-1-title a{
    font-size: 15px;
    font-family: "Microsoft YaHei";
    color: #000;
}
.news3-1-n{
    width:100%;
    height:75px;
}
.news3-1-n ul{
    width:100%;
    height:100%;
    border:none;
    display: block;
}
.news3-1-n .new3 .nr{
    width:100%;
    height:25px;
    font-size: 14px;
    border: none;
}
.news3-1-n ul .nr a {

}
.news3-1-title .new3 .nr a:nth-child(1){
    margin-right: 10px;
    color: #033266;
}
.news3-1-title .new3 .nr a:nth-child(2){
    color: #033266;
}
.news-you{
    width:320px;
    height:986px;
    margin-left: 20px;
    float: left;
}
.news-y{

    width:100%;
    height:44px;
    border-top: 1px dotted #738291;
    padding: 0 5px;
    border-bottom: #e6e6e6 1px solid;
}
.news-y span{
    float: left;
    font: 18px/42px "Microsoft YaHei";
    color: #333333
}
.news-y span a:nth-child(1){
    color: #0c2f57;
}
.news-y span a:nth-child(2){
    font-family: 宋体;
    color: rgb(61, 81, 132);
    font-size: 12px;
    margin-left: 34px;
}
.news-y-list{
    width:100%;
    height:auto;
    overflow: hidden;
}
.news-y-list li{
    width:155px;
    height:105px;
    margin: 0 10px 10px 0;
    float: left;
}
.list-img{
    width:100%;
    height:85px;
    position: relative;
}
.list-img span{
    display: block;
    width: 32px;
    height: 32px;
    background: url('../img/1.png') no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}
.news-y-list li p{
    font: 14px/20px "SimSun";
    color: #333;
    padding: 0 0 0 0px;
    background: #f5f5f5;
    text-align: center;
}
.news-right{
    width:320px;
    height:1002px;
    float: right;
}
.news-right1{
    width:100%;
    height:928px;
    padding-top: 20px;
}
.news-right1 ul{
    margin-bottom: 16px;
}
.news-right1 ul li:nth-child(1){
    font-family: "microsoft yahei";
    font-size: 17px;
    font-weight: bold;
    color: #1e63b0;
    padding-bottom: 5px;
    line-height: 21px;
    margin-bottom: 6px;
}
.news-right1 ul li:nth-child(1) a{
    color: #1e63b0;
}
.news-right1 ul li{
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 6px;

}
.news-right1 ul li a{
    color: #000;
}
.n1{
    width:1000px;
    height:240px;
    margin:0 auto;
}
.n1-title{
    width:100%;
    height:73px;
}
.title1{
    width:660px;
    height:100%;
    float: left;
    background: url("../img/2.png") no-repeat;
}
.title2{
    background: url('../img/3.png') no-repeat;
    width: 315px;
    height: 73px;
    float: right;
}
.con {
    width:100%;
    height:155px;
margin-top: 20px;
}
.con-zuo{
    width:660px;
    height:100%;
    float: left;
}
.con-zuo ul{
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-between;
}
.con-zuo ul li{
    width:196px;
    height:140px;
}
.con-img{
    width:100%;
    height:110px;
}
.con-zuo ul li p{
    font: 14px/30px "SimSun",sans-serif;
    color: #333;
    padding: 0 10px;
    background: #f5f5f5;
}
.con-you{
    width:315px;
    height:138px;
    float: right;
}
.con1{
    width:100%;
    height:80px;
}
.con1-zuo{
    width:120px;
    height: 100%;
    float: left;
    position: relative;
}
.con1-zuo span{
    background: url('../img/1.png') no-repeat;
    display: block;
    height: 32px;
    left: 0;
    position: absolute;
    top: 0;
    width: 32px;
}
.con1-you{
    width:185px;
    height:100%;
    float: right;
}
.con1-you h3{
    font: bold 14px/16px "SimSun",sans-serif;
    color: #033266;
    margin: 0 0 10px 0;
    margin-bottom: 3px;
}
.con1-you p{
   font-size: 12px;
}

.fenleicon{
    width:1000px;
    height:auto;
    margin:0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.fenlei1{
    width:320px;
    height:301px;
    float: left;
}
.fenlei-top{
    width:100%;
    height:44px;
    border-top: 1px dotted #738291;
    border-bottom: #e6e6e6 1px solid;
    padding: 0 5px;
}
.fenlei-top span{
    display: inline-block;
    float: left;
    font: 18px/42px "Microsoft YaHei";
    color: #333333;
}
.fenlei-top span a{
    color: #333333;
}
.fenlei-top span:nth-child(2){
    float: right;
    width:77px;
    height:100%;
}
.fenlei-top span:nth-child(2) a{
    display: block;
    height:12px;
    font-size: 12px;
}
.fenlei-top span a img{
    width:49px;
    display: inline-block;

}
.fenlei-con{
    width:100%;
    height:257px;
}
.fen-top{
    width:100%;
    height:34px;
    background: #fafafa;
    border-bottom: #d5d5d5 1px solid;
    height: 32px;
    font: 12px/32px "SimSun",sans-serif;
    padding: 0 10px 1px;
    position: relative;
    margin-bottom: 10px;
}
.fen-top b{
    font-weight: normal;
    color: #e6e6e6;
}
.fen1{
    padding: 0 5px;
    height: 24px;
    line-height: 24px;
    width:100%;
    font: bold 14px/16px "SimSun",sans-serif;
    color: #333;
    margin-top: 10px;
}
.fenlei-con ul{
    width:100%;
    height:72px;
    padding: 0 5px;
}
.fenlei-con ul li{
    height:24px;
    width:100%;
font-size: 14px;
}
.fenlei-con ul li a{
    color: #033266;
}
.fenlei-con ul li b{
    font-weight: normal;
    color: #e6e6e6;
}
.bottom{
    width:100%;
    background: #e6e6e6;
    border-top: #fff 1px solid;
    height: 58px;
}
.bottom main{
    width:1000px;
    height:100%;
    margin:0 auto;
    padding-top: 7px;
}
.bottom main li{
    height: 22px;
    text-align: center;
    font: 12px/22px "宋体";
    color: #292929;
}
.bottom ul li a{
    color: #292929;
    display: inline-block;
    margin: 0 10px 0 0;
}
.bottom1{
    width:100%;
    height:40px;
    background: #0e4c92;
}
.bottom1 main{
    width:1000px;
    height:100%;
    margin:0 auto;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
}
.bottom1 main img{
    display: inline-block;
}
.bottom1 main>img:nth-child(1){
    width:60px;
    height:100%;
}
.bottom1 main>img:nth-child(2){
    width:603px;
    height:57%;
    margin-top: -10px;
}
.di{
    width: 100%;
    height:147px;
    background: url("../img/5.png");
}