* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* 去除a标签的下划线 */
  box-sizing: border-box;
}
/* a{
	color: #b0b0b0;
} */
ul,
li,
ol {
  list-style: none;
}
em,
i {
  font-style: normal;
  display: block;
}
body {
  font-family: "宋体", arial;
  color: #004276;
  font-size: 14px;
}
header {
  width: 100%;
  height: 69px;
}
.header {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.header .log {
  width: 121px;
  height: 69px;
  float: left;
}
.header .log img {
  width: 100%;
  height: 100%;
}
.header .date {
  float: left;
  padding: 13px 0px 0px 10px;
}
.header .date .phone {
  width: 58px;
  height: 18px;
  margin-bottom: 3px;
  background-position: -194px -149px;
  line-height: 18px;
  text-indent: 14px;
  background: url("../img/phone.png");
}
.header .date .phone .a {
  font-size: 12px;
  font-weight: bold;
  color: #91363a;
}
.header .date .time {
  font-size: 12px;
  line-height: 24px;
  color: #585858;
  line-height: 18px;
  margin-top: 15px;
}
.phone {
  width: 58px;
  height: 18px;
  margin-bottom: 3px;
  background-position: -194px -149px;
  line-height: 18px;
  text-indent: 14px;
  background: url("../img/phone.png");
}
.header-right {
  width: 470px;
  height: 61px;
  float: right;
  text-align: right;
}
.header-right b {
  font-weight: bold;
}
.header-right b .red {
  color: #91363a;
}
.header-right a {
  font-size: 12px;
  line-height: 32px;
  color: #004276;
}
.header-right .lag {
  width: 470px;
  height: 17px;
  background: url(../img/wenzi.gif) no-repeat;
  overflow: hidden;
  margin-top: 12px;
}
.header-right .lag a {
  float: left;
  margin-right: 10px;
  line-height: 18px;
  display: inline-block;
  margin-left: 2px;
  padding-top: 17px;
  font-size: 12px;
}
nav {
  width: 100%;
  height: 84px;
}
nav .nav {
  width: 1000px;
  height: 82px;
  margin: 0 auto;
  background-position: 0px -53px;
  background-repeat: repeat-x;
  border: 1px solid #d5e7f6;
  border-width: 1px 0px;
  background: url("../img/phone.png");
}
nav .nav .zjc {
  border-right: 1px dotted #aebecd;
  padding: 0px 21px;
  float: left;
  display: inline;
  font-weight: bold;
  margin: 12px 0 0;
}
nav .nav .zjc-1 {
  border-right: 1px dotted #aebecd;
  padding: 0px 21px;
  float: left;
  display: inline;
  font-weight: bold;
  margin: 12px 0 0;
  width: 103px;
}
nav .nav .zjc-1 a {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 6px;
  float: left;
  color: #000;
  display: block;
}
nav .nav .zjc-2 {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 6px;
  color: #000;
  display: block;
  width: 210px;
  padding: 0;
}
nav .nav .zjc-2 a {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 6px;
  color: #000;
  margin-left: 22px;
  display: inline;
  float: left;
  font-weight: normal;
}
nav .nav .zjc-3 {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 6px;
  color: #000;
  padding-left: 0px;
  font-weight: normal;
  width: 122px;
  float: left;
}
nav .nav .zjc-3 a {
  margin-left: 22px;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 6px;
  color: #000;
  font-weight: normal;
}
nav .nav .zjc-4 {
  width: 73px;
}
nav .nav .zjc-4 a {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 6px;
  color: #000;
}
nav .nav .zjc-5 {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 6px;
  color: #000;
  display: block;
  width: 160px;
  padding: 0;
}
nav .nav .zjc-5 a {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 6px;
  color: #000;
  margin-left: 22px;
  display: inline;
  float: left;
  font-weight: normal;
}
nav .nav .zjc-6 {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 6px;
  color: #000;
  display: block;
  width: 121px;
  padding: 0;
  border: 0;
}
nav .nav .zjc-6 a {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 6px;
  color: #000;
  margin-left: 22px;
  display: inline;
  float: left;
  font-weight: normal;
}
.main {
  width: 100%;
  height: 100%;
}
.main .main-m {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  background: red;
}
.main .main-m .main-f {
  width: 740px;
  float: left;
}
.main .main-m .main-f .main-header {
  width: 740px;
  height: 85px;
  border-bottom: 1px solid #C0D5DF;
  margin: 15px 0 1px;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  color: #3F3F3F;
  padding-bottom: 7px;
}
.main .main-m .main-f .main-header img {
  width: 100%;
  height: 100%;
}
.main-header2 {
  font-size: 12px;
  width: 740px;
  height: 24px;
  float: left;
}
.main-header2 span {
  margin: 0 8px;
}
.main-header2 a {
  color: #3F3F3F;
}
.main-fl-h {
  width: 358px;
  height: 739px;
  float: left;
}
.main-fl-h .main-fl-h1 {
  width: 368px;
  height: 593px;
}
.main-fl-h .main-fl-h1 ul {
  margin-top: 11px;
}
.main-fl-h .main-fl-h1 ul li {
  height: 28px;
  padding-left: 18px;
  line-height: 28px;
  border: 0;
}
.main-fl-h .main-fl-h1 ul li em {
  overflow: hidden;
  margin-top: 8px;
  width: 18px;
  height: 18px;
  background-position: -8px 0px;
  background-image: url("../img/xiaobiao.png");
  float: left;
}
.main-fl-h .main-fl-h1 ul li a {
  color: #004276;
}
.main-fl-h .main-fl-h1 ul li a b {
  font-weight: bold;
}
.main-fl-h .xia5 {
  margin-top: 11px;
}
.main-fl-h .xia5 li {
  height: 28px;
  padding-left: 18px;
  line-height: 28px;
  border: 0;
}
.main-fl-h .xia5 li em {
  overflow: hidden;
  margin-top: 8px;
  width: 18px;
  height: 18px;
  background-position: -6px -48px;
  background-image: url("../img/xiaobiao.png");
  float: left;
}
.main-fl-h .xia5 li a {
  color: #004276;
}
.main-fl-h .xia5 li a b {
  font-weight: bold;
}
.main-fl-r {
  width: 368px;
  height: 739px;
  float: right;
}
.main-fl-rt {
  width: 359px;
  height: 258px;
  position: relative;
  overflow: hidden;
  margin-top: 15px;
}
.main-fl-rt .img-list {
  height: 225px;
}
.main-fl-rt .img-list ul {
  height: 225px;
  overflow: hidden;
  position: absolute;
}
.main-fl-rt .img-list ul li {
  float: left;
  width: 359px;
  height: 225px;
  overflow: hidden;
  position: relative;
}
.main-fl-rt .img-list ul li .imgt {
  height: 36px;
  position: absolute;
  font-size: 14px;
  line-height: 36px;
  color: #FFF;
  left: 0px;
  bottom: -1px;
  width: 359px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.main-fl-rt .img-list ul li .imgt a {
  color: #FFF;
  font-family: "微软雅黑", "宋体";
}
.img-shu {
  height: 33px;
  background-position: 0px 0px;
  position: relative;
  background-image: url("../img/phone.png");
}
.img-shu .left-pre {
  width: 45px;
  height: 33px;
  left: 0px;
  top: 0px;
  background-position: -51px -135px;
  position: absolute;
  cursor: pointer;
  z-index: 999;
  overflow: hidden;
  background-image: url("../img/phone.png");
}
.img-shu .btn {
  text-align: center;
  padding-top: 4px;
}
.img-shu .btn a {
  width: 24px;
  height: 23px;
  background-position: -142px -144px;
  display: inline-block;
  overflow: hidden;
  line-height: 22px;
  color: #000;
  cursor: pointer;
  margin: 2px;
}
.left-next {
  left: 314px;
  top: 0px;
  background-position: -96px -135px;
  width: 45px;
  height: 33px;
  position: absolute;
  cursor: pointer;
  z-index: 999;
  overflow: hidden;
  background-image: url("../img/phone.png");
}
.main-fl-rt1 {
  width: 100%;
  margin-bottom: 5px;
}
.main-fl-rt1 ul {
  width: 230px;
  float: left;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main-fl-rt1 ul li {
  color: #CECFCA;
}
.main-fl-rt1 ul li a {
  font-size: 12px;
  line-height: 22px;
  text-decoration: underline;
  color: #004276;
}
.main-fl-rt1 a img {
  float: right;
  margin-top: 5px;
  display: block;
}
.main-fl-rt2 {
  border-bottom: 1px solid #CECECE;
  line-height: 26px;
  width: 100%;
  float: left;
}
.main-fl-rt2 em {
  width: 13px;
  height: 13px;
  float: left;
  margin: 6px 7px 0 4px;
  text-indent: -999px;
  overflow: hidden;
  background-position: -13px -155px;
  background-image: url("../img/phone.png");
}
.main-fl-rt2 span {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  float: left;
}
.js1 {
  width: 368px;
  height: 122px;
  margin-top: 10px;
  float: left;
}
.js1 ul li {
  color: #004276;
  padding-left: 18px;
  line-height: 28px;
}
.js1 ul li em {
  overflow: hidden;
  margin-top: 8px;
  width: 18px;
  height: 18px;
  background-position: -6px -48px;
  background-image: url("../img/xiaobiao.png");
  float: left;
}
.js1 a {
  color: #004276;
}
.main-fl-rt3 {
  line-height: 26px;
  width: 100%;
  float: left;
}
.main-fl-rt3 em {
  width: 13px;
  height: 13px;
  float: left;
  margin: 6px 7px 0 4px;
  overflow: hidden;
  background-position: -13px -155px;
  background-image: url("../img/phone.png");
}
.main-fl-rt3 span {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  float: left;
}
.js2 {
  margin-top: 10px;
  float: left;
}
.js2 li {
  background-position: -1px 9px;
  padding-left: 18px;
  line-height: 28px;
  background: url("../img/phone.png") no-repeat;
}
.js2 li em {
  overflow: hidden;
  margin-top: 8px;
  width: 18px;
  height: 18px;
  background-position: -6px -48px;
  background-image: url("../img/xiaobiao.png");
  float: left;
}
.js2 li a {
  color: #000;
}
.js2 li .emps {
  padding-left: 6px;
  background: none;
}
.js2 li .emps span {
  color: #000;
}
.jiege {
  border: 1px solid #CCC;
  margin: 12px 0px 5px;
  width: 735px;
  height: 85px;
  float: left;
}
.jiege img {
  width: 100%;
  height: 100%;
}
.shizheng {
  width: 100%;
  height: 410px;
}
.img-gg {
  float: right;
  width: 100%;
}
.img-gg a {
  float: left;
  width: 50%;
}
.img-gg a img {
  display: block;
  float: right;
  width: 160px;
  height: 88px;
}
.main-r {
  width: 243px;
  margin-top: 10px;
  border: 1px solid #E8E8E8;
  overflow: hidden;
  float: right;
}
.main-r .sousuo {
  margin-top: 3px;
}
.main-r .sousuo .sousuo-in {
  border: 1px solid #7C7C7C;
  height: 18px;
  line-height: 18px;
  width: 163px;
  float: left;
}
.main-r .sousuo .sousuo-on {
  height: 20px;
  width: 51px;
  background-position: 0px -135px;
  background-image: url("../img/phone.png");
  border: 0px;
  cursor: pointer;
  padding: 1px 6px;
  float: right;
}
.main-r-m {
  padding: 7px;
}
.main-r-m .main-r-f a {
  color: #004276;
}
.main-r-m .main-r-f a img {
  width: 210px;
  height: 290px;
}
.xx {
  padding-top: 5px;
}
.xx .xxyx {
  padding-left: 1px;
  line-height: 28px;
  white-space: nowrap;
}
.xx .xxyx em {
  float: left;
  margin-top: 10px;
  width: 7px;
  height: 10px;
  background-position: -8px -105px;
  background-image: url("../img/xiaobiao.png");
}
.xx .xxyx a {
  color: #004276;
  font-size: 14px;
}
.tougao {
  width: 212px;
  height: 56px;
  border: 1px solid #7D9FBA;
  width: 190px;
  margin: 0 auto;
  padding: 3px 10px;
  color: #555;
  font-size: 12px;
  line-height: 24px;
}
.tougao a {
  font-size: 12px;
  color: #555;
}
.lianjie {
  width: 100%;
  margin: 5px;
}
.lianjie .lj1 {
  color: #CECFCA;
}
.lianjie .lj1 a {
  font-size: 12px;
  line-height: 22px;
  text-decoration: underline;
  color: #004276;
}
.r-t {
  width: 100%;
}
.r-t img {
  width: 230px;
  height: 65px;
}
.zhuanti {
  width: 229px;
  height: 31px;
  margin: 0 auto;
  border-bottom: 2px solid #4B4B4B;
  margin-top: 10px;
}
.zhuanti .zhuanti1 .zhuanti01 {
  width: 112px;
  float: left;
  margin-right: 2px;
  display: inline;
  background: #f6f6f6;
  border-top: 3px solid #f6f6f6;
  height: 27px;
  cursor: pointer;
}
.zhuanti .zhuanti1 .zhuanti01 em {
  width: 13px;
  height: 13px;
  float: left;
  margin: 6px 7px 0 4px;
  overflow: hidden;
  background-position: -13px -155px;
  background-image: url(../img/phone.png);
}
.zhuanti .zhuanti1 .zhuanti01 span {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  float: left;
  line-height: 26px;
}
.zhuanti .zhuanti1 .zhuanti01 span a {
  color: #004276;
}
.zhuanti .zhuanti01:hover {
  border-top: 3px solid #606163;
}
.sxsx {
  overflow: hidden;
  margin-top: 8px;
  width: 18px;
  height: 18px;
  background-position: -6px -48px;
  background-image: url(../img/xiaobiao.png);
  float: left;
}
.sanbiao {
  width: 229px;
  height: 31px;
  margin: 0 auto;
  padding: 2px 0;
}
.sanbiao .sb01 {
  margin-left: 0px;
}
.sanbiao .sb1 {
  text-align: center;
  width: 32%;
  float: left;
  margin-left: 1%;
  background: #F6F6F6;
  border: 1px solid #EBEBEB;
}
.sanbiao .sb1 a {
  color: #004276;
}
.xsb {
  width: 229px;
  height: 111px;
}
.xsb .xsb1 {
  width: 112px;
  height: 111px;
  padding: 0 2px;
  float: left;
}
.xsb .xsb1 a img {
  width: 100%;
  height: 100%;
}
.friend {
  width: 1226px;
  height: 216px;
  float: left;
  margin-top: 60px;
  left: 0;
  bottom: 0;
}
.friend .friend-m {
  width: 1000px;
  height: 81px;
  margin: 0 auto;
  border-top: 1px solid #737373;
  position: relative;
}
.friend .friend-m .fri {
  width: 75px;
  height: 81px;
  float: left;
  font-size: 16px;
}
.friend .friend-m .fri a {
  width: 75px;
  height: 81px;
  padding: 5px 0;
  display: block;
  color: #004276;
}
.friend .friend-m .frim {
  width: 920px;
  height: 81px;
  float: left;
  font-size: 12px;
}
.friend .friend-m .frim a {
  float: left;
  padding: 10px 6px;
  display: block;
  color: #000000;
}
.wei {
  width: 1000px;
  margin: 0 auto;
  border-top: 5px solid #000000;
  color: #424242;
  line-height: 23px;
  padding-bottom: 14px;
  padding-top: 20px;
  text-align: center;
  font-size: 12px;
}
.wei a {
  color: #2F3444;
}
.kexin {
  margin-top: 20px;
}
