$color:#0081CC;
html,body{
  width: 100%;
  height: auto;
  overflow: auto;
}
//头部
header{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  .headerBox{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    //background: #3A97FF;
    line-height: 45px;
    .headerLeft{
      width: 40%;
      height: 100%;
      float: left;
      line-height: 45px;
      .logo{
        width: 40px;
        height: 100%;
        float: left;
        img{
          width: 38px;
          height: 45px;
        }
      }
    }
    .headerRight{
      width: 15%;
      height: 100%;
      float: right;
      font-size: 12px;
      a{
        color: #666;
      }
    }
  }
}

//评论区
.commentBox {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  //background: goldenrod;
  h3 {
    line-height: 40px;
  }
  i {
    font-size: 12px;
    line-height: 30px;
  }
  textarea {
    width: 98%;
    height: 200px;
    border-radius: 10px;
    outline: none;
    padding: 10px;
  }
  .bttn {
    width: 100px;
    height: 40px;
    button {
      width: 40px;
      height: 30px;
      border-radius: 5px;
      border: none;
      outline: none;
    }
  }
  h5{
    line-height: 40px;
  }
  ul.had {
    width: 100%;
    margin: 0 auto;
    margin-top: 22px;
    margin-bottom:20px;
    //background-color: #F0F4F3;
    border-top: 1px solid #ccc;
    //          border-bottom:1px solid #D1C0A5;

    li {
      width: 95%;
      height: 120px;
      padding-top: 30px;
      box-sizing: border-box;
      border-bottom: 1px solid #E4DFD4;
      div.content {
        width: 100%;
        height: 60px;
        div.num {
          float: left;
          width: 50px;
          height: 50px;
          //background-image: url(image);
          //background-position: center;
          //background-size: 100%;
          //background-repeat: no-repeat;
          //div.cir {
          //  width: 100%;
          //  height: 100%;
          //  font-size: 14px;
          //  color: #fff;
          //  text-align: center;
          //  line-height: 50px;
          //}
        }
        div.name {
          float: left;
          margin-left: 1%;
          width: 25%;
          p:first-child {
            width: 100%;
            font-size: 18px;
            text-align: left;
            margin-bottom: 0;
            color: #898989;
          }
          p:nth-child(2) {
            width: 100%;
            font-size: 10px;
            text-align: center;
            margin-bottom: 0;
            color: #898989;
          }
          p:nth-child(3) {
            width: 100%;
            font-size: 12px;
            text-align: left;
            margin-bottom: 0;
            span {
              font-size: 12px;
              cursor: pointer;
            }
          }
        }
        div.words {
          margin-left: 4%;
          float: left;
          width: 56%;
          p {
            font-size: 12px;
            //font-family: '苹方';
            text-align: left;
            line-height: 2em;
          }
        }

      }
    }
    li:last-child {
      border-bottom: 1px solid #D1C0A5;
      box-sizing: border-box;
    }
  }
}

//底部
.dibu{
  width: 620px;
  height: 13px;
  margin: 0 auto;
  /*background: red;*/
  margin-top: 30px;
  margin-bottom: 20px;
}

.dibu a{
  font-size: 10px;
  font-family: "微软雅黑";
  color: #666;
  line-height: 13px;
  /*text-align: center;*/
}

.dibu a:hover{
  color: #25B2FE;
  text-decoration: underline;
}

.dibu .bord{
  height: 13px;
  /*border-right: 1px solid #DFDFDF;*/
  float: left;
  margin-right: 5px;
}

.dibutwo {
  font-size: 10px;
  font-family: "微软雅黑";
  color: #666;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}



.dibutwo a:hover{
  color: #25B2FE;
  text-decoration: underline;
}


.dibuthree{
  font-size: 10px;
  font-family: "微软雅黑";
  color: #666;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}

.dibufour{
  font-size: 10px;
  font-family: "微软雅黑";
  color: #666;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}

.dibufive {
  font-size: 10px;
  font-family: "微软雅黑";
  color: #666;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;

}

.dibufive a:hover{
  color: #25B2FE;
  text-decoration: underline;
}


.dibufive img{
  vertical-align: middle;
}
