$color:#0081CC;
html,body{
  //width: 100%;
  //height: auto;
  overflow: auto;
}
body{
  background: none!important;
}

//头部
header{
  width: 100%;
  height: 45px;
  //background: #F7F7F7;
  .headerBox{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    //background: #3A97FF;
    line-height: 45px;
    .headerLeft{
      width: 40%;
      height: 100%;
      float: left;
      line-height: 45px;
      .logo{
        width: 40px;
        height: 100%;
        float: left;
        img{
          width: 38px;
          height: 45px;
        }
      }
    }
    .headerRight{
      width: 28%;
      height: 100%;
      float: right;
      font-size: 12px;
      #login{
        color: $color;
        padding-right: 20px;
      }
      #import{
        width: 125px;
        height: 22px;
        border: 1px solid #ACB6B7;
        box-sizing: border-box;
        font-size: 10px;
      }
      #select{
        width: 50px;
        height: 22px;
        border: 1px solid #ACB6B7;
        margin-left: 10px;
        font-size: 10px;
        outline: none;
      }
      #search{
        width: 35px;
        height: 22px;
        margin-left: -3px;
        font-size: 10px;
        background: #0A9AD6;
        color: #fff;

      }
    }
  }
}

//导航
nav{
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 5px;
}
.navBox{
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  background: $color;
  line-height: 40px;
  color: #fff;
  a{
    color: #fff;
    text-align: center;
    padding-right: 8px;
    padding-left: 7px;
    font-size: 14px;
    &:first-child{
      padding-left: 20px;
    }
    &:hover{
      text-decoration: underline;
      color: #CF1F21;
    }
  }
  #read{
    line-height: 40px;
    option{
      line-height: 40px;
    }
  }
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: -5px 5px!important;
}
//内容
.content{
  width: 1000px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
.contLeft{
  width: 33.3%;
  height: auto;
  //background: red;
  float: left;
  //轮播
  .bannerBox{
    width: 100%;
    height: 100%;
    .line{
      width: 95%;
      height: 2px;
      background: #858585;
    }
    .videoTitle{
      width: 95%;
      height: 30px;
      //background: red;
      a{
        display: block;
        width: 50%;
        height: 100%;
        float: left;
        line-height: 30px;
        //padding:0 5px;
        box-sizing: border-box;
        color: $color;
        //font-weight: 600;
        &:nth-child(2){
          text-align: right;
          font-size: 10px;
          color: #666;
        }
        &:hover{
          color: #CF1F21;
        }
      }
    }
    .banner{
      width: 95%;
      height: 260px;
      background: blue;
      margin-left: 0;
      margin: 0!important;
      .imgBox{
        width: 340px;
        height: 100%;
        //background: red;
        position: relative;
        a{
          display: block;
          width: 100%;
          height: 100%;
          //background: yellow;
          img{
            width: 340px;
            height: 239px;
          }
        }
        .wen{
          width: 317px;
          height: 35px;
          background: rgba(0,0,0,0.6);
          position: absolute;
          bottom:20px;
          left: 317px;
          color: #fff;
          text-align: center;
          line-height: 35px;
        }
      }

    }
  }

  //新闻放映厅
  .videoBox{
    width: 100%;
    height: 100%;
    .line{
      width: 95%;
      height: 2px;
      background: #858585;
    }
    .videoTitle{
      width: 95%;
      height: 30px;
      //background: red;
      a{
        display: block;
        width: 50%;
        height: 100%;
        float: left;
        line-height: 30px;
        //padding:0 5px;
        box-sizing: border-box;
        color: $color;
        //font-weight: 600;
        &:nth-child(2){
          text-align: right;
          font-size: 10px;
          color: #666;
        }
        &:hover{
          color: #CF1F21;
        }
      }
    }
    .video{
      width: 95%;
      height: 100px;
      .vLeft{
        width: 49%;
        height: 90px;
        float: left;
        background: blue;
        position: relative;
        img{
          width: 155px;
          height: 90px;
          //overflow: hidden;
        }
        .play{
          width: 20px;
          height: 20px;
          position: absolute;
          bottom:2px;
          left: 3px;
          //top: 0;
          //right: 0;
          //margin:auto;
        }
      }
      .vRight{
        width: 49%;
        height: 90px;
        float: right;
        background: blue;
        position: relative;
        img{
          width: 155px;
          height: 90px;
          //overflow: hidden;
        }
        .play{
          width: 20px;
          height: 20px;
          position: absolute;
          bottom:2px;
          left: 3px;
          //top: 0;
          //right: 0;
          //margin:auto;
        }
      }
    }
    .videoList{
      width: 95%;
      height: auto;
      margin-bottom: 10px;
      ul{
        width: 100%;
        height: auto;
        li{
          width: auto;
          span{
            line-height: 20px;
            vertical-align: middle;
            //padding: 0 10px 0 0;
            font-size: 11px;
            a{
              font-size: 11px;
              color: #666;
              &:nth-child(1){
                //color: $color;
              }
              &:hover{
                text-decoration: underline;
              }
            }


          }
        }
      }
    }
  }

  //新闻图片
  .imageBox{
    width: 100%;
    height: 100%;
    .line{
      width: 95%;
      height: 2px;
      background: #858585;
    }
    .videoTitle{
      width: 95%;
      height: 30px;
      //background: red;
      a{
        display: block;
        width: 50%;
        height: 100%;
        float: left;
        line-height: 30px;
        //padding:0 5px;
        box-sizing: border-box;
        color: $color;
        //font-weight: 600;
        &:nth-child(2){
          text-align: right;
          font-size: 10px;
          color: #666;
        }
        &:hover{
          color: #CF1F21;
        }
      }
    }
    .image{
      width: 95%;
      height: auto;
      //&:after{
      //  content:"";
      //  display: block;
      //
      //};
      img{
        width: 47%;
        //height: 142px;
        float: left;
        margin-right: 2%;
        margin-bottom: 2%;
        overflow: hidden;
        box-sizing: border-box;
        &:nth-child(2n){
          margin-right: 0;
        }
      }
    }
  }

}
.contMiddle{
  width: 33.3%;
  height: auto;
  //background: blue;
  float: left;
  //要闻
  .line{
    width: 95%;
    height: 2px;
    background: #858585;
  }
  .importNewsTitle{
    width: 95%;
    height: 30px;
    //background: red;
    a{
      display: block;
      width: 50%;
      height: 100%;
      float: left;
      line-height: 30px;
      //padding:0 5px;
      box-sizing: border-box;
      color: $color;
      //font-weight: 600;
      font-size: 13px;
      &:nth-child(2){
        text-align: right;
        font-size: 10px;
        color: #666;
      }
      &:hover{
        color: #CF1F21;
      }
    }
  }
  .importNewsList{
    width: 95%;
    height: auto;
    ul{
      width: 100%;
      height: auto;
      list-style: none;
      //margin-left: 18px;
      li{
        list-style: none;
        width: auto;
        span{
          line-height: 20px;
          vertical-align: middle;
          //padding: 0 10px 0 0;
          font-size: 11px;
          &:nth-child(1){
            color: #666;
            //padding: 0;
          }
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
  .dashed{
    width: 93%;
    height: 1px;
    border-bottom: 1px dashed #ccc;
    margin-top: 10px;
  }
  .list2{
    margin-top: 10px;
  }
  .list2 ul li:first-child a{
    font-weight: bold;
    color: $color;
    &:hover{
      text-decoration: underline;
    }
  }
}
.contRight{
  width: 33.3%;
  height: auto;
  //background: blueviolet;
  float: left;
  .line{
    width: 100%;
    height: 2px;
    background: #858585;
  }
  .hostTitle{
    width: 95%;
    height: 30px;
    //background: red;
    a{
      display: block;
      width: 50%;
      height: 100%;
      float: left;
      line-height: 30px;
      //padding:0 5px;
      box-sizing: border-box;
      color: $color;
      //font-weight: 600;
      font-size: 13px;
      &:nth-child(2){
        text-align: right;
        font-size: 10px;
        color: #666;
      }
      &:hover{
        color: #CF1F21;
      }
    }
  }
  .hostList{
    width: 95%;
    height: auto;
    margin-bottom: 10px;
    color: #666;
    ul{
      width: 100%;
      height: auto;
      //margin-left: 18px;
      li{
        width: auto;
        span{
          line-height: 20px;
          vertical-align: middle;
          //padding: 0 10px 0 0;
          font-size: 11px;
          a{
            color: #666;
            font-size: 11px;
            &:hover{
              text-decoration: underline;
            }
          }
          //&:nth-child(1){
          //  color: #666;
          //  //padding: 0;
          //}

        }
      }
    }
  }
  .hundredTitle{
    width: 95%;
    height: 30px;
    //margin-top: 10px;
    //background: red;
    a{
      display: block;
      width: 50%;
      height: 100%;
      float: left;
      line-height: 30px;
      //padding:0 5px;
      box-sizing: border-box;
      color: $color;
      //font-weight: 600;
      font-size: 13px;
      &:nth-child(2){
        text-align: right;
        font-size: 10px;
        color: #666;
      }
      &:hover{
        color: #CF1F21;
      }
    }
  }
  .digest{
    font-size: 12px;
    color: #666;
  }
  .tuwen{
    width: 100%;
    height: 120px;
    margin-top: 8px;
    .photo{
      width: 50%;
      height: 100%;
      float: left;
      //background: blue;
      img{
        width: 168px;
        height: 112px;
      }
    }
    .wen{
      width: 45%;
      float: right;
      height: 100%;
      font-size: 10px;
      color: #666;
      line-height: 18px;
      a{
        font-weight: bold;
        color: #CF1F21;
      }
    }

  }
  .importNewsList{
    width: 95%;
    height: auto;
    ul{
      width: 100%;
      height: auto;
      list-style: none;
      //margin-left: 18px;
      li{
        list-style: none;
        width: auto;
        span{
          line-height: 20px;
          vertical-align: middle;
          //padding: 0 10px 0 0;
          font-size: 11px;
          &:nth-child(1){
            color: #666;
            //padding: 0;
          }
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }

  .dashed{
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ccc;
    margin: 10px 0;
  }

}






/*底部*/
.cooperation{
  width: 1000px;
  height: 136px;
  margin: 40px auto;
  border: 1px solid #c2d4e8;
  //margin-top: 40px;
  h4{
    height: 24px;
    width: 204px;
    color: #666;
    border-left: 1px solid #c2d4e8;
    border-right: 1px solid #c2d4e8;
    text-align: center;
    margin: -12px auto 0;
    background-color: #fff;
    position: relative;
    span{
      display: inline-block;
      width: 72px;
      height: 17px;
      background-position: -600px -225px;
      vertical-align: top;
    }
  }
  .content{
    padding: 10px 0 10px 37px;
    color: #666;
    line-height: 28px;
    p{
      display: block;
      //-webkit-margin-before: 1em;
      //-webkit-margin-after: 1em;
      //-webkit-margin-start: 0px;
      //-webkit-margin-end: 0px;
      a{
        font-size: 10px;
        color: #666;
      }
    }
  }
}


//底部
.dibu{
  width: 620px;
  height: 13px;
  margin: 0 auto;
  /*background: red;*/
  margin-top: 30px;
  margin-bottom: 20px;
}

.dibu a{
  font-size: 10px;
  font-family: "微软雅黑";
  color: #666;
  line-height: 13px;
  /*text-align: center;*/
}

.dibu a:hover{
  color: #25B2FE;
  text-decoration: underline;
}

.dibu .bord{
  height: 13px;
  /*border-right: 1px solid #DFDFDF;*/
  float: left;
  margin-right: 5px;
}

.dibutwo {
  font-size: 10px;
  font-family: "微软雅黑";
  color: #666;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}



.dibutwo a:hover{
  color: #25B2FE;
  text-decoration: underline;
}


.dibuthree{
  font-size: 10px;
  font-family: "微软雅黑";
  color: #666;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}

.dibufour{
  font-size: 10px;
  font-family: "微软雅黑";
  color: #666;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}

.dibufive {
  font-size: 10px;
  font-family: "微软雅黑";
  color: #666;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;

}

.dibufive a:hover{
  color: #25B2FE;
  text-decoration: underline;
}


.dibufive img{
  vertical-align: middle;
}

