body, html {
    height: 2000px;
}

header {
    width: 100%;
    height: 40px;
    background: #337eff;
    line-height: 40px;
    font-size: 15px;
}

.logo {
    width: 30%;
    float: right;
}

.search {
    width: 100%;
    height: 100px;
    float: left;
    padding-top: 2%;
    padding-left: 3%;
}

.search .text {
    width: 80%;
    height: 50px;
    border: 1px solid #337eff;
    float: left;
    padding-left: 5px;
}
.search a{
    display: inline-block;
}
.yh-content {
    position: relative;
}

.content {
    position: absolute;
    left: 2%;
    top: 50px;
    width: 75%;
    overflow: hidden;
    background: white;
    z-index: 999;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12);
    padding-bottom: 2%;
    display: none;
}

.content .cons {
    width: 100%;
    height: 30px;
    padding-left: 15px;
    margin-top: 2%;
}

.content .cons em {
    color: #f34540;
    font-size: 16px;
    margin-top: -1px;
    line-height: 37px;
}

.content .cons a {
    padding-left: 5%;
}

.content .cons a:hover {
    color: black;
}

.search .button {
    width: 15%;
    height: 50px;
    background: #337eff;
    border: none;
    float: left;
    color: white;
    font-size: 16px;
}

.login, .regist {
    width: 70px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #337eff;
    margin-top: 5px;
    background: white;
    margin-left: 15%;
}

.login:hover, .regist:hover {
    color: #fff;
    background: #337eff;
    transition: all 0.5s;
}

.nav {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    float: left;
}

.nav1 ul {
    width: 100%;
    height: 50px;
    float: left;
}

.nav1 ul li {
    width: 10%;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
}

.active {
    border-bottom: 2px solid #337eff;
}

.nav ul li a {
    color: #000;
    text-decoration: none;
}

ul li a.actives {
    color: #337eff;
}

.nav ul li a:hover {
    color: #337eff;
    text-decoration: none;
}

.nav2 ul {
    width: 100%;
    height: 50px;
    float: left;
}

.nav2 ul li {
    width: 16.33%;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
}

.navs {
    width: 100%;
    /*overflow: hidden;*/
}

.nav2 .navs {
    height: 0px;
    overflow: hidden;
    transition: all 1s;
}

.nav2 .navs li {
    width: 100%;
    height: 50px;
    float: left;
}

section {
    width: 100%;
    overflow: hidden;
    float: left;
    margin-top: 50px;
}

section ul {
    width: 100%;
    overflow: hidden;
    float: left;
}

section ul li {
    width: 100%;
    float: left;
    overflow: hidden;
    margin-bottom: 30px;
}

section .con-left a {
    display: block;
    overflow: hidden;

}

section .con-left a img {
    width: 140px;
    height: 88px;
}

.con-left {
    width: 20%;
}

.con-right, .con-left {
    float: left;
}

.con-right {
    padding-left: 20px;
    width: 80%;
}

.con-right a h3 {
    font-size: 20px;
    min-height: 40px;
    margin-top: 0;
}

.con-right a:hover {
    color: #f34540;
    text-decoration: none;
}

.con-right .title {
    display: inline-block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #337eff;
}

.in {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.con-right .time {
    display: inline-block;
    margin-left: 10px;
}

section .floor {
    display: none;
}

section .ul {
    display: block;
}

.remen {
    width: 100%;
    overflow: hidden;
    background: #f9f9f9;
}

.remen p {
    font-size: 20px;
    padding-left: 5%;
    border-left: 3px solid #337eff;
    margin-top: 5%;
}

.remen ul {
    width: 100%;
    overflow: hidden;

}

section .remen ul li {
    width: 95%;
    height: 90px;
    margin-top: 5%;
    padding-left: 7%;
    padding-bottom: 5%;
    margin-bottom: 2%;

}

.remen ul li .remen-left {
    width: 60px;
    height: 60px;
    float: left;
}

.remen ul li .remen-left a {
    display: block;
    float: left;
    width: 60px;
    height: 60px;
}

.remen ul li .remen-left a img {
    width: 100%;
    height: 100%;
    float: left;
}

.remen-right {
    width: 74%;
    height: 60px;
    float: left;
    padding-left: 5%;
}

.remen-right a {
    display: block;
    width: 100%;
    height: 60px;
}

.remen-right a h3 {
    width: 100%;
    font-size: 14px;
    margin-top: 3%;
    color: #888;
}

.line {
    margin-top: 8%;
    width: 100%;
    float: left;
    border-bottom: 1px solid #888;
}

.remen ul li:last-child .line {
    border-bottom: 0 solid #888;
}

.tuijian {
    width: 100%;
    overflow: hidden;
}

.tuijian p {
    font-size: 20px;
    padding-left: 5%;
    border-left: 3px solid #337eff;
    margin-top: 5%;
}

.tuijian .tui-im {
    width: 100%;
    display: block;
    overflow: hidden;
}

.tuijian .tui-im img {
    width: 100%;
    float: left;
}

.tuijian ul {
    width: 100%;
    overflow: hidden;
}

.tuijian ul li {
    width: 100%;
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
}

.tuijian ul li span {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #ddd;
    margin-top: 1%;
}

.tuijian ul li a {
    color: #666;
    padding-left: 2%;
}

.tuijian ul li a:hover {
    color: red;
}

.lunbo {
    width: 100%;
    overflow: hidden;
    float: left;
    position: relative;
}

.lunbo .yh-list {
    float: left;
    width: 100%;
    height: 227px;
}

.lunbo .yh-list .yh-listli {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    transition: all 1s;
}

.lunbo .yh-list .yh-listli a {
    float: left;
    display: block;
    width: 100%;
    overflow: hidden;
    transition: all 1s;
}

.yh-listli.active {
    z-index: 1;
}

.lunbo .yh-list .yh-listli a img {
    float: left;
    width: 100%;
    min-height: 227px;
    transition: all 1s;
}

.lunbo .yh-lunbo {
    width: 35%;
    height: 10px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2%;
    margin: auto;
    z-index: 5;
}

.lunbo .yh-lunbo .yh-lunbos {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
}

.lunbo .yh-lunbo .yh-lunbos.actives {
    background: #337eff;
}

.scorllnav {
    /*display: none;*/
    position: fixed;
    top: 5px;
    left: 0;
    background: white;
    z-index: 888;
    margin-top: 0;
    transition: all 1s;
}

.scorllnav ul li.active {
    background: #337eff;

}

.scorllnav ul li.active a {
    color: white;
}

.paihang p {
    font-size: 20px;
    padding-left: 5%;
    border-left: 3px solid #337eff;
    margin-top: 5%;
}

section .paihang li {
    margin-bottom: 2%;
}

.paihang a {
    display: inline-block;
    line-height: 37px;
    padding-left: 10%;
}

.paihang a:hover {
    color: #f34540;
}

.paihang em {
    color: #f34540;
    font-size: 26px;
    margin-top: -1px;
    line-height: 37px;
}

.paihang li {
    height: 37px;
}

.paihang span {
    font-size: 14px;
    float: right;
    color: #f34540;
    display: inline-block;
    line-height: 37px;
}

footer {
    border-top: 1px solid #337eff;
    padding: 35px 0 0;
    float: left;
    width: 100%;
    /*height: 200px;*/
}

footer dt {
    padding: 7px;
    margin-bottom: 21px;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #303030;
    position: relative;
}

footer dt:after {
    content: "";
    height: 1px;
    width: 90px;
    background: #337ab7;
    position: absolute;
    bottom: -1px;
    left: 0;
}

footer dd .a1 {
    display: block;
    padding-bottom: 14px;
    margin-bottom: 14px;
    color: #959595;
    border-bottom: 1px dashed #303030;
    font-size: 14px;
}

footer dd .a1:hover {
    color: white;
    text-decoration: none;
}

.foot a {
    color: #959595;
    margin: 0 7px 7px 0;
    border: 1px solid #303030;
    padding: 2px 7px;
    display: inline-block;
    transition: all 1s;
}

.foot a:hover {
    background: #337ab7;
    color: white;
    text-decoration: none;
}

.copyright {
    float: left;
    /*background: #ccc;*/
    font-size: 13px;
    color: #555;
    padding: 14px;
    /*border-top: 1px solid #303030;*/
    text-align: center;
    width: 100%;
}

.copyright a {
    color: #555;
}

.dingbu {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    left: 50%;
    bottom: 30%;
    margin-left: 50%;
    transition: all 1s;
}

.dingbu .top {
    width: 40px;
    height: 40px;
    background: #337ab7;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: white;
    cursor: pointer;
    z-index: 888;
}

.dingbu .bottom {
    width: 40px;
}

.login-detail{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.lo-login{
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
}
.lo-detail{
    width:40%;
    height: 400px;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: white;
}
.close{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: -15px;
    right: -4%;
    z-index: 999;
    opacity: 1;
    color: #000;
    font-weight: 500;
}
.close:hover{
    background: #f34540;
    color: white;
    opacity: 1;
}
.lo-con{
    width: 60%;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 10%;
}
.lo-con .yonhhu,.password,.code{
    width: 100%;
    height: 50px;
}
.lo-con .yonhhu input{
    width: 55%;
    height: 28px;
    float: left;
}
.lo-con .password input{
    width: 55%;
    height: 28px;
    float: left;
}
.lo-con .code input{
    width: 25%;
    height: 28px;
    float: left;
}
.lo-con .code .ValidateCode{
    float: left;
    margin-left: 1%;
    cursor: pointer;
}
.lo-con .change{
    float: left;
    line-height: 28px;
    text-align: center;
}
.lo-con label{
    width: 30%;
    float: left;
    text-align: center;
    font-size: 16px;
    color: #6a6a6a;
    font-weight: 500;
}
.lo-con .button{
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    line-height: 40px;
}
.lo-con .button input{
    width: 70px;
    height: 40px;
    background: #337ab7;
    border:none;
    color: white;
}
.lo-con .button span a{
    color:#337ab7 ;
}
.lo-con .huiyuan {
    width: 80%;
    margin: 0 auto;
    padding-top: 10%;
}
.lo-con .huiyuan a{
    color:#337ab7 ;
}
.header{
    width: 100%;
    height: 60px;
    background:#337ab7 ;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 18px;
    position: relative;
}
.true{
    color:rgb(86,197,59);
    display: none;
    float: right;
    margin-right: 5%;
}
img:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}
.false{
    color:rgb(249,83,85);
    display: none;
    float:right;
    margin-right: 5%;
}
@media (max-width: 768px) {
    .nav1 {
        display: none;
    }

    .nav2 {
        display: block;
    }
}

@media (max-width: 992px) {
    .small-you {
        display: none;
    }
    .lo-detail{
    width: 76%;
    }
}

@media (min-width: 768px) {
    .nav1 {
        display: block;
    }

    .nav2 {
        display: none;
    }
}