body{background: url(../img/bg2.jpg) fixed;}
.menu{background-color: #252628;width: 100%;  padding: 0;min-height: 50px;margin-bottom: 20px;margin-top: 20px;border: 1px solid transparent;}
.menu-left{float: left;margin-right:8%;text-align: center;color: #7DC314;cursor: pointer;font-size: 18px;text-transform: uppercase;background-color: #000000;margin-left: -15px;padding: 13px;}
.menu-right{float: left;width: 50%;height: 100%;}
.menu-right ul{width: 100%;height: 100%;display: flex;justify-content: space-between;}
.menu-right ul li{width: 20%;height: 100%;}
.menu-right ul li a{display: block;width: 100%;height: 100%;text-align: center;line-height: 50px;color:#fff;font-size: 15px;}
.menu-right ul li a .iconfont1{font-size: 12px !important;text-align: center;line-height: 50px;color:#fff;}
.menu-logo{float: right;cursor: pointer;background-color: #505052;margin-right: -15px;}
.menu-logo .login{text-align: center;color:#fff;font-size: 16px;float: left;padding: 14px;}

.menu-logo .zhuce{text-align: center;color:#fff;font-size: 16px;float: right;padding: 14px;}
.menu .menu-right ul li a:hover{text-decoration: none;background: #fff;color:#000;border-radius: 10px;transition: all .4s ease-in-out; }
.menu-right ul li a:hover .iconfont1{color: #000;}
.menu-logo .zhuce:hover {text-decoration: none;background: #fff;color:#000;border-radius: 10px;transition: all .4s ease-in-out;}
.menu-logo .login:hover {text-decoration: none;background: #fff;color:#000;border-radius: 10px;transition: all .4s ease-in-out;}
/*menu结束*/
.future{background: #fff;padding: 15px;border: 1px solid #ccc;}
.future-example{position: relative;overflow: hidden;height: 420px}
.future-piture{position: relative;overflow: hidden;width: 100%;height: 100%;}
.future-piture .active{z-index: 2;}
.item{top:0;left: 0;width: 100%;height: auto;z-index: 1;position: absolute;transition: .8s ease-in-out left;}
.future-piture .active{z-index: 2;display: block;left:0;}
.item img{display: block;max-width: 100%;height: 500px;margin-left:0;padding-left: 0;}
.future-piture img{width: 100%;max-height: 640px;}
.future-lunbo{position: absolute;z-index: 3;left: 50%;height: 20px;width: 60%;  margin-left: -30%;  padding-left: 0;text-align: center;bottom: 10px;}
.future-lunbo li{display: inline-block;width: 15px;height: 15px;margin: 1px;text-indent: -999px;border: 1px solid #fff;border-radius: 10px;  cursor: pointer;}
.future-lunbo .active{background-color: #DA251D;border: 0;}
.future-left{position: absolute;top:45%;left:3%;z-index: 3;font-size: 30px !important;color: #fff;text-decoration: none;}
.future-right{position: absolute;top:45%;right:3%;z-index: 3;font-size: 30px !important;color: #fff;text-decoration: none;}
.future-left:hover{text-decoration: none;color: #d9d9d9;}
.future-right:hover{text-decoration: none;color: #d9d9d9;}
.future-demo{position: relative;width: 100%;}
.demotup{overflow: hidden;  position: relative;  width: 100%;}
.demotup1{width: 2154px;  left: 0px;  display: block; transition: all 1000ms ease;overflow: hidden;}
.demotup1 .picture{width: 359px;float: left;}
.demotup1 .picture img{height: 238px;}
img { max-width: 100%;  height: auto;}
.demolb{margin-top: 10px;  text-align: center;overflow: hidden;}
.demolb .yuan{cursor: pointer;display: inline-block;}
.demolb .yuan span{width: 12px;height: 12px;border-radius: 50%;background: #ccc;float: left;text-align: center;margin: 5px 7px;}
.demolb .yuan:nth-child(1) span{background: #666;}
/*future结束*/
.content{margin-top: 20px;}
.box{padding: 20px 20px 10px; background:#fff;margin-left: -15px;margin-right: -15px;}
.new{position: relative;  overflow: hidden;  display: inline-block;  vertical-align: top;width: 100%;}
.new .new1{position: absolute;  top: 0;  right: 0;  bottom: 0;  left: 0;  z-index: 10;}
.new1 span{position: absolute;  top: 0;  padding: 5px 7px;  font-weight: bold;background:#FD0005;color: #fff;font-size: 15px;}
.new1 a{display: block;  position: absolute;  top: -100%;  opacity: 0;  left: 0;  bottom: 0;  right: 0;  text-align: center;  color: inherit;transition: all .2s ease-in-out;background: rgba(0, 0, 0, .5);}
.new1 a .icon{font-size: 22px !important;color:#fff;background-color: rgba(17, 17, 17, 0.9);  max-width: 60px;  margin: 0 auto;  padding: 8px 5px;  border-radius: 8px;}
.new1 p{position: absolute;bottom: 0;  left: 0;  right: 0;  text-align: center;  font-size: 20px;  font-weight: bold; background: rgba(0, 0, 0, .5);  margin: 0;  padding: 10px;color:#fff;}
.new .new1:hover a{opacity:1;top:0;z-index: 500;}
.new:hover a .icon{top: 50%;  position: absolute;  left: 0;  right: 0;  transform: translateY(-50%);z-index: 520;}
.new:hover img {
    transform:scale(1.25) rotate(5deg);
}
.new img{display: block;width: 100%;height: auto;transition: all .5s ease; }
.name{margin-top: 8px;}
.name a{  font-size: 19px;  color: #333;}
.riqi{margin: 8px 0 10px 0;font-size: 14px;color: #666;}
.riqi h5{font-size: 13px;  line-height: 1;  margin: 0 0 5px;    font-weight: 600;  color: #111;font-family: 'Roboto', sans-serif;}
.riqi h5 a{color: #000;  border-bottom: 1px solid #000;  box-shadow: inset 0 -1px 0 #000;  transition: all ease 150ms;}
.riqi span{margin-right: 10px;}
.riqi span i{margin-right: 8px;}
.riqi span i .iconfont{font-size: 14px !important;}
.more{margin: 0 0 20px;}
.box .box-head{  background: url(../img/title-vimeo.png) repeat-x center center;  margin-bottom: 20px;}
.box .box-head h2{font-size: 25px;  padding: 0px 8px;  background-color: #fff;  display: inline-block;  margin-left: 15px;  color: #333;}
.box .box-content {margin-top: 30px;}
.new1 .span{background: #17B3E8;}
.new1 a .icon1 {font-size: 30px !important;  color: #fff;  margin: 0 auto;  padding: 8px 5px;max-width:0;background: none;}
.one{margin-bottom: 15px;}
.box .head1{background: url(../img/title-natural.png) repeat-x center center;  margin-bottom: 20px;}
/*hezi开始*/
.hezi{background: #ffffff; padding: 10px 20px;margin-right: -15px;}
.hezi .hzhead{background: url(../img/title.png) repeat-x center center;}
.hezi .hzhead h4{font-size: 22px;  padding: 0px 8px;background-color: #fff;  display: inline-block;  margin-left: 40%;  color: #333;  text-transform: uppercase;}
.hezi .hzcontent .sousuo{display: block;width: 100%;  height: 34px;  padding: 6px 12px;  font-size: 14px;  line-height: 1.42857143;  color: #555;  background-color: #fff;  background-image: none;  border: 1px solid #ccc;  border-radius: 4px;}
.hezi .hzhead1 h4{margin-left: 15px;}
.hezi .hzhead1{margin-bottom: 10px;}





/*内容结束*/
.main-footer{background-color: #202020;  margin-top: 20px;  color: #ddd;  padding: 20px 0 10px;}
.main-footer .widget {  padding: 0 30px;  }
/*.widget {  margin-bottom: 35px;  }*/
.main-footer .widget .title {  color: #fff;  border-bottom: 1px solid #303030;  }
.widget .title:after {  content: "";  width: 90px;  height: 1px; background: #337ab7;  position: absolute;  left: 0;  bottom: -1px;  }
.widget .title {  margin-top: 0;  padding-bottom: 7px;  border-bottom: 1px solid #ebebeb;  margin-bottom: 21px;  position: relative;  }
.widget .friend-links a {  display: block;  border-bottom: 1px dashed #303030;  padding-bottom: 9px;  margin-bottom: 14px;  color: #959595;  -webkit-transition: all .2s ease;  -o-transition: all .2s ease;  transition: all .2s ease;  }
.main-footer .widget .tag-cloud a {  border: 1px solid #303030;  }
.widget .tag-cloud a {  border: 1px solid #ebebeb;  padding: 2px 7px;  color: #959595;  line-height: 1.5em;  display: inline-block;  margin: 0 7px 7px 0;  transition: all .2s ease;  }
.widget .friend-links a:hover {  color: #fff;  text-decoration: none;  }
.main-footer .widget .tag-cloud a:hover {
    border: 1px solid #337ab7;  }
.widget .tag-cloud a:hover {  color: #fff;  background: #337ab7;  border: 1px solid #337ab7;  text-decoration: none;  }
.email{outline: medium none;  color: #999999;  display: block;  font-size: 14px;  height: 40px;  line-height: 1.2;  margin: 10px 0;  padding: 5px 10px 0;  width: 100%;  background-color: transparent;  border: 2px solid #444444;}
.tijiao{background-color: #444444;  color: #FADA1A;  font-weight: bold;display: inline-block;  margin-bottom: 0;  text-align: center;  vertical-align: middle;  cursor: pointer;  border: 1px solid transparent; padding: 6px 20px;  font-size: 14px; border-radius: 4px;}
.tijiao:hover{background:#fff;color:#000;}
.copyright {  background: #111;  font-size: 13px;  text-align: center;  color: #555;  padding-top: 14px;  padding-bottom: 20px;  border-top: 1px solid #303030;  }
.wid-neirong span{display: block; margin-bottom: 7px;}
.wid-neirong span a{color: #7DC314;}
.more1{margin: 0 0 2px;}

@media (max-width: 992px){
    .future-example {  height: 364px;}
}
@media (max-width: 768px){
    .hezi{margin-left: -15px;}
}




