clear:after{
    content: "";
    width: 0;height: 0;
    display: block;
    clear: both;
}
body {
    font-family: "Microsoft Yahei", "微软雅黑", "SimSun", "宋体", "Verdana", "Arial";
    color: #333;
    background-color: #e7e7e7;
}
*{
    box-sizing: border-box;
}
.container {
    padding-left: 0;
    padding-right: 0;
}
a:hover{
    text-decoration: none;
}
img:hover{
    opacity:0.7;
}
/*header开始*/
header{
    height: 66px;
    line-height: 60px;
    background-color: #222;
    margin-bottom: 10px;
    padding-top: 5px;
}
.container {
    width: 1140px!important;
    height: 100%;
    margin: 0 auto;
}
.logo {
    float: left;
    height: 60px;
}
.nav {
    float: left;
    margin-left: 100px;
}
.nav li {
    float: left;
    position: relative;
}
.nav li.active, .nav li:hover {
    background-color: #333;
    box-shadow: 0 0 5px #000;
}
.nav li>a {
    font-size: 16px;
    color: #fff;
    padding: 0 30px;
    font-family: 'å¾®è½¯é›…é»‘';
}
.search {
    float: right;
}
.search li {
    width: 60px;
    border-right: 1px solid #333;
    text-align: center;
    height: 60px;
    float: left;
}
.search li:first-of-type {
    border-left: 1px solid #333;
}
.search_icon {
    background: url(../img/search_03.png) no-repeat center;
}
.search li a {
    color: #fff;
    font-size: 15px;
    display: block;
    height: 100%;
}
/*main开始*/
.breadcrum {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 9px;
}
.breadcrum ul{
    height: 30px;
}
.breadcrum li {
    line-height: 30px;
    display: inline-block;
}
.breadcrum li a {
    font-size: 12px;
    color: #999;
}
.breadcrum li a:hover{
    color: #ae0e1a;
}
.breadcrum span {
    font-size: 13px;
    color: #999;
    margin: 0 3px;
}
.list2 {
    padding-top: 20px;
    height: 1200px;
}
.list2 .item{
    float: left;
    margin-bottom: 20px;
    position: relative;
}
.list2 .item img {
    height: 303px;
    width: 555px;
}
.yys_txt1{
    background-color: #fff;
    height: 658px;
    width: 555px;
    margin-top: -5px;
    font-size: 20px;
    color: #333;
    position: relative;
    z-index: 2;
    padding: 10px;
}
.yys_txt1 h3{
    font-size: 26px;
    margin-top: 8px;
    width: 100%;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.yys_txt1 span{
    position: absolute;
    left: 0px;
    top: 75px;
    padding: 0 24px;
    display: block;
    font-size: 14px;
    color: #666;
    line-height: 24px;
}
.yys_txt1 span p{
    padding-top: 20px;
}

.list2 .bq{
    position: absolute;
    left: -37px;
    top: 32px;
    width: 173px;
    height: 35px;
    background: url(../img/icon914_03.png) no-repeat center;
    color: #fff;
    line-height: 35px;
    text-align: center;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}
.list2 .more{
    position: absolute;
    right: 20px;
    bottom: 14px;
    font-size: 12px;
    color: #ae0e1a;
    z-index: 10;
}
/*评论区开始*/
.pl{
    width: 560px;
    float: right;
    min-height: 200px;
}
.plbox{
    position: relative;
    height: 158px;
    border: solid 1px #1d87e4;
    border-radius: 5px;
    overflow: hidden;
}
.plbox form {
    height: 114px;
}
.plbox form textarea {
    height: 114px;
    resize: none;
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 24px;
    padding: 4px 14px;
}
.plbox .submit-row{
    background-color: #f6f6f6;
    height: 44px;
    overflow: hidden;
}
.plbox .submit-row button{
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: #fff;
    background-color: #1d87e4;
    width: 130px;
    height: 44px;
    float: right;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
    border: 0;
}
.pl .p1{
    color: #888888;
    line-height: 12px;
    padding-top: 10px;
    margin-bottom: 30px;
    font-size: 12px;
}
.ht .li1{
    background-color: #fbfbfb;
    overflow: hidden;
    margin: 0 0 10px 0;
    padding: 20px 15px 0 0;
    border-radius: 5px;
    position: relative;
}
.ht .photo {
    float: left;
    width: 35px;
    height: 35px;
    margin-right: -65px;
    padding: 0 15px;
    border-radius: 50%;
    position: relative;
}
.ht .photo img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.ht .tie-bdy{
    float: right;
    width: 100%;
}
.ht .bdy-inner{
    margin-left: 65px;
    font-size: 12px;
}
.tie-author{
    margin: 2px 0 15px 0;
    line-height: 12px;
}
.tie-author .name{
    color: #008cd2;
    display: inline-block;
    margin-right: 5px;
}
.name-desp{
    display: inline-block;
    margin-right: 5px;
    margin: 0 5px 0 0;
    color: #888888;
    font-family: Arial;
}
.tie-time{
    color: #888888;
    margin: 0 0 8px 0;
    float: right;
    font-family: Arial;
}
.tie-cnt {
    font-size: 14px;
    word-wrap: break-word;
    margin: 10px 0 20px 0;
    line-height: 24px;
    font-family: 苹方;
}
.tool-bar{
    margin: 0 0 12px 0;
    height: 26px;
}
.tool-bar ul{
    float: right;
    position: relative;
    z-index: 4;
    background-color: #fff;
    height: 26px;
    border: solid 1px #ddd;
    border-radius: 2px;
}
.tool-bar ul .li2 {
    float: left;
    position: relative;
    border-right: solid 1px #ddd;
    text-align: center;
    line-height: 26px;
    padding: 0 10px;
    cursor: pointer;
}
.tool-bar ul .li3{
    color: #ff3333;
}
.tool-bar ul .li4{
    color: #008cd2;
}




    /*footer开始*/
footer {
    text-align: left;
    height: auto;
    background-repeat: repeat;
    background-color: #222;
    padding: 34px 0 20px;
}
footer .container {
    position: relative;
}
.foot_link {
    margin-bottom: 15px;
    color: #fff;
}
footer p {
    font-size: 12px;
    color: #999;
    margin: 0 0 10px;
}
footer p span {
    display: inline-block;
    line-height: 20px;
    margin-top: 10px;
}
footer p img {
    position: absolute;
    top: 8px;
    right: 0;
}
.foot_link a {
    color: #fff;
    font-size: 14px;
    line-height: 22px;
}
.foot_link em {
    font-style: normal;
    padding: 0 6px 0 10px;
}
.top {
    width: 58px;
    height: 60px;
    position: fixed;
    right: 5%;
    bottom: 30px;
    background-color: #fff;
    z-index: 1000;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 50px;
    color: #999;
    cursor: pointer;
}
.padbar_menu{
    width: 43px;
    height: 43px;
    background: url(../img/icon68_03.png) no-repeat center;
    background-size: 42px 42px;
    position: fixed;
    left: 15px;
    bottom: 15px;
    z-index: 1002;
    cursor: pointer;
}
/*登录开始*/
.dlbox{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1002;
    background: rgba(0, 0, 0, 0.41);
    display: none;
}
.dlbox .dl{
    position: relative;
    padding: 40px 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background-color: #6d7a0d;
    width: 490px;
    left: 50%;
    margin-left: -245px;
    top: 30px;
    z-index: 1003;
}
.dlbox .flag{
    position: absolute;
    top: 0px;
    right: 14px;
    color: rgba(255, 255, 255, 0.88);
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}
.dlbox h2{
    margin: 0 0 30px;
    font-size: 30px;
}
.dlbox .mluser{
    padding-bottom: 15px;
}
.dlbox label{
    font-size: 16px;
}
.dlbox input[type=text]{
    border: solid 1px #6d7a0d;
    padding: 10px;
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin: 0;
    outline: 0;
    background-color: #fff;
    color: #000;
}
.forgetmenot {
    margin: 0 0 23px;
}
.dl .submit{
    padding: 13px 20px;
    background: #222;
    color: #fff;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    text-align: center;
}
.dl .zc{
    text-align: center;
    margin: 27px 0 0;
    font-size: 14px;
}
.dl .zc a{
    color: #fff;
    margin-right: 5px;
    cursor: pointer;
}
.dl .zc a:hover{
    text-decoration: underline;
}

/*注册开始*/
.zcbox{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1002;
    background: rgba(0, 0, 0, 0.41);
    display: none;
}
.zcbox .zc{
    position: relative;
    padding: 14px 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background-color: #6d7a0d;
    width: 490px;
    left: 50%;
    margin-left: -245px;
    z-index: 1003;
}
.zcbox .flag{
    position: absolute;
    top: 0px;
    right: 14px;
    color: rgba(255, 255, 255, 0.88);
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}
.zcbox h2{
    margin: 0 0 30px;
    font-size: 30px;
}
.zcbox .mluser{
    padding-bottom: 15px;
}
.zcbox label{
    font-size: 16px;
}
.zcbox input[type=text]{
    border: solid 1px #6d7a0d;
    padding: 10px;
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin: 0;
    outline: 0;
    background-color: #fff;
    color: #000;
}
.forgetmenot {
    margin: 0 0 23px;
}
.zc .submit{
    padding: 13px 20px;
    background: #222;
    color: #fff;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    text-align: center;
}
.zczi{
    text-align: center;
    margin: 27px 0 0;
    font-size: 14px;
}
.zc a{
    color: #fff;
    margin-right: 5px;
    cursor: pointer;
}
.zc a:hover{
    text-decoration: underline;
}




















