body,h1,h2,h3,h4,h5,h6,p,ul,li,dl,dd,dt,form,input,textarea,pre,figure,ol{
	margin: 0;
	padding:0;
	list-style: none;
}
a {
	text-decoration: none;
	color: black;
}
img{
	border: 0;
}
i,u,del,b{
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
}
body{
	font-family: "Microsoft YaHei";
}