h3{
    color: #000;
}
.header{
    width: 100%;
    height: 100px;
    background: rgba(9, 147, 47, 0.71);
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;

}
.header-k{
    width: 1200px;
    height: 100%;
    /* background: red; */
    margin:0 auto;
}
.header-k .zi-k{
    width: 90px;
    height: 100%;
    /* background: pink; */

}
.header-k .zi-k:nth-child(1){
    margin-right: 80px;
    float: left;
}
.header-k .zi-k:nth-child(2){
    margin-right: 80px;
    float: left;
}
.header-k .zi-k:nth-child(3){
    /* margin-right: 80px; */
    float: left;
}
.header-k .zi-k:nth-child(4){
    /* margin-right: 80px; */
    float: left;
    margin-left: 130px;
}
.header-k .zi-k:nth-child(5){
    margin-left: 80px;
    float: right;
}
.header-k .zi-k:nth-child(6){
    margin-left: 80px;
    float: right;
}
.header-k .zi-k:nth-child(7){
    /* margin-left: 80px; */
    float: right;
}
.zi-k h2{
    font-size: 20px;
    text-align: center;
    /* line-height: 60px; */
    margin-top: 25px;
}
.zi-k h2 P{
    font-size: 16px;
    text-align: center;
    /* line-height:40px; */
    font-weight:500;
}
.zi-k .tu{
    width: 100%;
    height: 100%;
    /*  background: blue; */
    /*  margin: 0 auto; */
    /*   margin-top:17px ; */
    background: url('../img/4-logo.png') center center no-repeat;
    background-size: 100%;

}
.neirong{
    width: 1050px;
    margin:0 auto;
    height: auto;
    overflow: hidden;
    border:3px solid #b0b0b0;
    margin-top: 240px;
    padding: 40px;
    background: #dceed7;
    margin-bottom: 30px;
}
textarea{
    margin-top: 50px;
}
.anniu{
    width: 100%;
    height: 30px;
    /*background: red;*/
    margin-top:5px;
}
.anniu .left{
    width:60px;
    height: 100%;
    background:#5eb461;
    float: left;
    color: #fff;
    text-align: center;
    line-height: 30px;
}
.anniu .right{
    width:60px;
    height: 100%;
    background:#5eb461;
    margin-left: 20px;
    float: left;
    color: #fff;
    text-align: center;
    line-height: 30px;
}
.xq{
    width: 100%;
    height:240px;
    border-bottom: 1px solid #b0b0b0;
    padding: 20px;
}
.xq .left{
    width: 10%;
    height: 100%;
    /*background: blue;*/
    float: left;
}
.xq .left img{
    width: 100%;
    height: 50%;
}
.xq .right{
    width: 88%;
    height: 100%;
    /*background:green;*/
    /*padding: 0 20px;*/
    float: right;
}
h3{
    color: #49867e;
}
span{
    font-size: 14px;
    color: #999;
    margin-left: 10px;
}
.pinglun{
    width: 100%;
    height:130px;
    /*background: red;*/
    padding:15px 0;
    line-height: 22px;
    font-size: 14px;
}
time{
    float: right;
    color: #6d6d6c;
    font-size: 15px;
}
.title{
   width: 100%;
    height: 50px;
    border-bottom:2px solid #5eb461;
}
.title1{
    width: 100%;
    height: 50px;
    border-bottom:2px solid #5eb461;
    margin-top: 100px;
}
.fanye{
    width: 100%;
    height: 50px;
    float: left;
     /*background: blue;*/
    text-align: center;
    margin-top: 50px;
}

/* dibu */
footer{
    font-size: 12px;
    color: #999;
    background-color: #fff;
    position: relative;
    z-index: 100;
    clear: both;
    line-height: 35px;
    margin: 30px auto 0;
    overflow: hidden;
    padding-bottom: 20px;
    text-align: center;
    width: 1000px;
}
.footer1{
    margin: 0 auto;
    overflow: hidden;
}
footer .footer1 a{
    margin: 0 10px;
}
.footer2 {
    border-top: 1px solid #ececec;
}