@media (min-width: 1024px) {
    nav {
        width: 100%;
        margin: 0 auto 40px;
        background-color: #333333;
        line-height: 54px;
        font-size: 18px;
        overflow: hidden;
        letter-spacing: 2px;
    }
    nav span.hover a {
        background-color: #d0011d;
    }
    .nav_con {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
    .nav_con a {
        color: #FFFFFF;
        display: block;
        float: left;
        width: 110px;
        text-align: center;
    }
    .list_box {
        float: left;
        padding-left: 60px;
    }
    .tiao {
        font-size: 12px;
        padding-bottom: 24px;
        border-bottom: solid 1px #eaeaea;
    }
    .middle {
        width: 810px;
        overflow: hidden;
    }
    .middle h1 {
        text-align: center;
        line-height: 90px;
        font-size: 24px;
    }
    .middle .more {
        text-align: center;
        font-size: 12px;
        color: #666666;
        padding-bottom: 45px;
    }
    .middle p {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 20px;
        text-align: center;
    }

    .list_right {
        width: 300px;
        float: left;
        margin-bottom: 30px;
        display: block;
    }
    .list_title{
        padding-bottom: 10px;
    }
    .right_box {
        overflow: hidden;
    }
    .right_con {
        overflow: hidden;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .right_time {
        font-size: 12px;
        color: #990000;
        padding-left: 30px;
    }
    .right_img {
        text-align: right;
        height: 200px;
        overflow: hidden;
        position: relative;
        display: none;
    }
    .right_img img {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .pic_active {
        /*width: 300px;*/
        /*height:200px;*/
        margin-top: 20px;
        margin-left: 30px;
        display: block;
    }
    .right_title {
        font-size: 18px;
        line-height: 30px;
        padding: 15px 0;
        padding-left: 30px;
    }
    .list_con {
        font-size: 14px;
        line-height: 30px;
        color: #666666;
        padding-bottom: 15px;
        padding-left: 30px;
    }
    .type {
        float: left;
        /*background: url(../images/label.jpg) 30px center no-repeat;*/
        padding-left: 54px;
        line-height: 25px;
        color: #999;
        font-size: 12px;
        letter-spacing: 1px;
    }

}
/*大屏结束*/


/*最大为300px*/
@media (max-width: 300px) {
    .right_box {
        overflow: hidden;
    }
    .right_con {
        overflow: hidden;
        padding-bottom: 35px;
    }
    .right_time {
        font-size: 12px;
        color: #990000;
        padding-left: 30px;
    }
    .right_img {
        text-align: right;
        height: 0;
        overflow: hidden;
        position: relative;
    }
    .right_img img {
        height:auto;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .pic_active {
        width: 300px;
        height:200px;
        padding-top: 20px;
    }
    .right_title {
        font-size: 18px;
        line-height: 30px;
        padding: 15px 0;
        padding-left: 30px;
    }
}
/*300结束*/

.right{
    float: right;
    overflow: hidden;
}
.totop{
    width: 57px;
    height:57px;
    position: fixed;
    bottom:100px;
    right:40px;
}
.totop img{
    width: 100%;
    height:auto;
}
.right_img{
    transition:all  0.5s;
}
