
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1496120053604'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1496120053604#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1496120053604') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1496120053604') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1496120053604#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:55px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before { content: "\e60a"; }

.icon-weibo:before { content: "\e61e"; }

.icon-renren:before { content: "\e66a"; }

.icon-weixin1:before { content: "\e675"; }

.icon-qq:before { content: "\e618"; }

.icon-douban:before { content: "\e649"; }

.icon-qq-copy:before { content: "\e602"; }

.icon-weibo1:before { content: "\e603"; }

.icon-youdou:before { content: "\e624"; }

.icon-youjiantou:before { content: "\e66d"; }

.icon-renrenwang:before { content: "\e508"; }

