*{
    margin: 0;
    padding: 0;
   text-decoration: none;
    list-style: none;
}
body {
    background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    font-family: Arial, 微软雅黑, "Microsoft yahei", "Hiragino Sans GB", "冬青黑体简体中文 w3", "Microsoft Yahei", "Hiragino Sans GB", "冬青黑体简体中文 w3", STXihei, 华文细黑, SimSun, 宋体, Heiti, 黑体, sans-serif;
}
a{
    color:#333;
}
a:hover {
    color: #3ca5f6;
    text-decoration: none;
}
header {
    position: fixed;
    z-index: 500;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #f0f0f0;
    line-height: 60px;
    margin-bottom: 30px;
    min-width: 1170px;
    background-color: #fff;
    font-size: 16px;
}
.transition {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.container>.navbar-header {
    position: relative;
    float: left;
    margin-right: 0;
    margin-left: 0;
    margin-top: -2px;
    width: 63px;
}
.container>.navbar-header img {
    width: 100%;
}
header .navbar-left {
    margin-left: 50px;
}
header .navbar-nav .nav-news {
    width: 100px;
    cursor: pointer;
}
header .navbar-left .nav-news {
    position: relative;
    width: auto;
    margin-right: 50px;
    height:60px;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
header .navbar-nav li.nav-news .caret {
    color: #bbb;
    margin-top: -2px;
}
.navbar-nav>li>a, .navbar-nav>li>a:focus, .navbar-nav>li>a:hover {
    background-color: #fff;
    cursor: pointer;
}
header .header-column {
    position: absolute;
    width: 120px;
    background-color: rgba(255,255,255,.98);
    z-index: 1000;
    box-shadow: 0 1px 15px rgba(18,21,21,.2);
    margin-top: 70px;
    left: 50%;
    margin-left: -66px;
    border-top: 1px solid #f0f0f0;
    padding: 11px 0;
    /*display: none;*/
    transition: all 1s;
}
header .header-column1 {
    width: 250px;
    padding: 20px;
}
header .header-column1 li, header .header-column2 li, header .header-column3 li, header .header-column4 li, header .header-column5 li, header .header-column6 li, header .header-column7 li, header .header-column8 li, header .header-column9 li {
    width: 105px;
    float: left;
}
header .header-column a {
    display: block;
    height: 38px;
    color: #333;
    line-height: 38px;
    font-size: 16px;
    width: 100%;
    text-align: center;
}
header .header-column a:hover {
    color: #3ca5f6;
}
header .js-show-menu:hover .zx{
    color: #3ca5f6;
}
header .navbar-right {
    color: #bbb;
    margin-right: 10px;
}
.placeholder-height {
    height: 90px;
}
.navbar-nav.navbar-right li {
    width: 60px;
}
.navbar-nav.navbar-right .app-guide {
    width: 105px;
    color: #333;
    position: relative;
}

.app-guide .app-guide-box {
    position: absolute;
    width: 240px;
    height: 128px;
    z-index: 10;
    box-shadow: 1px 1px 15px rgba(0,0,0,.3);
    top: 60px;
    right: 30px;
    background: #fff;
    padding: 10px;
    font-size: 14px;
    display: none;
}
.app-guide-box img {
    width: 108px;
    height: 108px;
    float: left;
}
.app-guide-box .app-guide-title {
    line-height: 36px;
    text-align: center;
}
.app-guide-box .app-guide-title span:first-child {
    display: inline-block;
    position: relative;
    margin-top: 17px;
}
.icon {
    display: inline-block;
    vertical-align: text-bottom;
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.icon-sm-phone {
    background-position: -448px -546px;
    height: 25px;
    position: relative;
    top: 3px;
    width: 25px;
}
.navbar-nav.navbar-right .search-li {
    width: 105px;
    color: #333;
}
.icon-search {
    background-position: -210px -80px;
    position: relative;
    top: 1px;
    left: 5px;
}
.navbar-nav.navbar-right .search-li span {
    margin-left: 14px;
    position: relative;
    top: 1px;
}
header .navbar-right li:last-child a {
    width: 70px;
    height: 40px;
    color: #fff;
    background-color: #3ca5f6;
    display: block;
    margin-top: 10px;
    line-height: 12px;
    text-align: center;
    cursor: pointer;
}
header .navbar-right li:last-child a:hover {
    color: #fff;
    background-color: #2f99ea;
}
.wrap-left{
    position: relative;
    width: 800px;
    margin: 0 auto;
}
.pull-left {
    float: left!important;
}
.big-pic-box {
    position: relative;
    height: 400px;
}
.big-pic .back-img, .big2-pic .back-img {
    position: absolute;
    width: 100%;
}
.big-pic {
    position: absolute;
    width: 533px;
    height: 400px;
    margin-bottom: 30px;
    overflow: hidden;
}
.big-pic a:hover img{
    transform: scale(1.05,1.05);
}
.big-pic:before, .big2-pic:before, .topic-content:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background: -webkit-gradient(linear, 0 30%, 0 100%, from(rgba(0, 0, 0, 0)), to(#121515));
}
.big-pic img, .big2-pic img, .hot-article-img img, .mod-thumb img, .topic-content img {
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    vertical-align: top;
}
.big-pic-content, .big2-pic-content {
    position: absolute;
    width: 533px;
    height: 400px;
    z-index: 10;
    cursor: pointer;
    display: block;
}
.t-h1 {
    margin: 0 30px;
    bottom: 22px;
    position: absolute;
    line-height: 1.5;
    font-size: 24px;
    color: #fff;
    word-wrap: break-word;
    word-break: normal;
}
.big2-pic, .big2-pic-right {
    position: relative;
    width: 360px;
    height: 270px;
    background-color: #fafafa;
    overflow: hidden;
}
.big2-pic.big2-pic-top,.big2-pic.big2-pic-bottom{
    position: absolute;
    width: 257px;
    height: 195px;
    left: 543px;
}
.big2-pic.big2-pic-top .big2-pic-content {
    width: 257px;
    height: 195px;
}
.big2-pic-content .t-h1 {
    word-break: inherit;
    font-size: 18px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
}
.big2-pic.big2-pic-top .big2-pic-content .t-h1,.big2-pic.big2-pic-bottom .big2-pic-content .t-h1{
    font-size: 16px;
    margin: 0 20px;
    bottom: 16px;
}
.big2-pic.big2-pic-bottom{
    top: 205px;
}
.big2-pic.big2-pic-bottom .big2-pic-content {
    width: 257px;
    height: 195px;
}
.wz-list{
    display: inline-block;
}
.part1{
    position: relative;
    padding: 30px 0;
    height: 225px;
    border-bottom: 1px solid #f0f0f0;
    width: 800px;
}
.part1 .part-thumb{
    width: 220px;
    height: 165px;
    overflow: hidden;
    background: #000;
}
.column-link-box{
    position: absolute;
    bottom: 25px;
    right: 0;
    text-align: right;
}
.column-link {
    font-size: 12px;
    color: #3ca5f6;
    text-align: center;
    line-height: 1;
    z-index: 10;
    margin-left: 20px;
}
.part-middle{
    position: relative;
    float: right;
    margin: 0 30px;
    width: 530px;
    margin-top: -162px;
}
.part-middle h2 {
    margin-top: -5px;
    font-size: 24px;
}
.part-middle h2 a{
    font-size: 18px;
}
.part-author{
    margin: 15px 0;
}
.part-author .author-face {
    position: absolute;
    width: 25px;
    height: 25px;
}
.part-author .author-face img{
width: 100%;
overflow: hidden;
border-radius: 25px;
}
.part-author .author-name,.part-author .time,.part-author em{
    color: #bbb;
    line-height: 24px;
    margin-left: 7px;
    font-style: normal;
}
.part-author .author-name {
    margin-left: 36px;
}
.part-author .time {
    margin-left: 20px;
}
.icon-cmt {
    background-position: -67px -1px;
    cursor: auto!important;
}
 .part-author .icon-cmt, .part-author .icon-moments, .part-author .icon-share, .part-author .icon-weibo {
    margin-left: 20px;
}
.part-author em {
    margin-left: 5px;
}
.icon-fvr {
    background-position: -106px -3px;
    margin-left: 15px;
    cursor: auto!important;
}
.part-sub {
    font-size: 14px;
    color: #999;
    line-height: 24px;
}
.recommend-sub {
    color: #333;
}
.recommend-tag {
    height: 20px;
    display: inline-block;
    padding: 0 5px;
    border: 1px solid #f63756;
    font-size: 14px;
    line-height: 18px;
    color: #f63756;
    border-radius: 4px;
}
.recommend-sub .quot {
    position: relative;
    top: 5px;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
}
.part-height{
    height: 435px;
}
.part-height .part-middle{
    width: 250px;
    margin-top: -376px;
}
.part-height .part-thumb{
    width: 500px;
    height: 375px;
}
.i-vip {
    background: url(../img/vip.png);
    background-size: 125px 100px;
    display: inline-block;
}
.icon-vip {
    background-position: -6px -4px;
    position: relative;
    top: 4px;
    width: 27px;
    height: 20px;
    left: 5px;
}
.i-icon {
    position: relative;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-bottom;
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.icon-auth2 {
    background-position: -325px -304px;
    margin-left: 10px;
}
.icon-team-auth {
    background-position: -325px -424px;
    margin-left: 10px;
}
.mod-angle {
    position: absolute;
    left: -10px;
    height: 24px;
    color: #fff;
    text-align: center;
    background-color: #f63756;
    line-height: 24px;
    padding: 0 10px;
    z-index: 101;
    top: 40px;
    font-size: 14px;
}