*{
    margin: 0;
    padding: 0;
   text-decoration: none;
    list-style: none;
}
body {
    background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    font-family: Arial, 微软雅黑, "Microsoft yahei", "Hiragino Sans GB", "冬青黑体简体中文 w3", "Microsoft Yahei", "Hiragino Sans GB", "冬青黑体简体中文 w3", STXihei, 华文细黑, SimSun, 宋体, Heiti, 黑体, sans-serif;
}
a{
    color:#333;
}
a:hover {
    color: #3ca5f6;
    text-decoration: none;
}
.container {
    padding: 0 0;
    width: 1170px!important;
    position: relative;
}
header {
    position: fixed;
    z-index: 500;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #f0f0f0;
    line-height: 60px;
    margin-bottom: 30px;
    min-width: 1170px;
    background-color: #fff;
    font-size: 16px;
}
.transition {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.container>.navbar-header {
    position: relative;
    float: left;
    margin-right: 0;
    margin-left: 0;
    margin-top: -2px;
    width: 63px;
}
.container>.navbar-header img {
    width: 100%;
}
header .navbar-left {
    margin-left: 50px;
}
header .navbar-nav .nav-news {
    width: 100px;
    cursor: pointer;
}
header .navbar-left .nav-news {
    position: relative;
    width: auto;
    margin-right: 50px;
    height:60px;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
header .navbar-nav li.nav-news .caret {
    color: #bbb;
    margin-top: -2px;
}
.navbar-nav>li>a, .navbar-nav>li>a:focus, .navbar-nav>li>a:hover {
    background-color: #fff;
    cursor: pointer;
}
header .header-column {
    position: absolute;
    width: 120px;
    background-color: rgba(255,255,255,.98);
    z-index: 1000;
    box-shadow: 0 1px 15px rgba(18,21,21,.2);
    margin-top: 70px;
    left: 50%;
    margin-left: -66px;
    border-top: 1px solid #f0f0f0;
    padding: 11px 0;
    /*display: none;*/
    transition: all 1s;
}
header .header-column1 {
    width: 250px;
    padding: 20px;
}
header .header-column1 li, header .header-column2 li, header .header-column3 li, header .header-column4 li, header .header-column5 li, header .header-column6 li, header .header-column7 li, header .header-column8 li, header .header-column9 li {
    width: 105px;
    float: left;
}
header .header-column a {
    display: block;
    height: 38px;
    color: #333;
    line-height: 38px;
    font-size: 16px;
    width: 100%;
    text-align: center;
}
header .header-column a:hover {
    color: #3ca5f6;
}
header .js-show-menu:hover .zx{
    color: #3ca5f6;
}
header .navbar-right {
    color: #bbb;
    margin-right: 10px;
}
.placeholder-height {
    height: 90px;
}
.navbar-nav.navbar-right li {
    width: 60px;
}
.navbar-nav.navbar-right .app-guide {
    width: 105px;
    color: #333;
    position: relative;
}

.app-guide .app-guide-box {
    position: absolute;
    width: 240px;
    height: 128px;
    z-index: 10;
    box-shadow: 1px 1px 15px rgba(0,0,0,.3);
    top: 60px;
    right: 30px;
    background: #fff;
    padding: 10px;
    font-size: 14px;
    display: none;
}
.app-guide-box img {
    width: 108px;
    height: 108px;
    float: left;
}
.app-guide-box .app-guide-title {
    line-height: 36px;
    text-align: center;
}
.app-guide-box .app-guide-title span:first-child {
    display: inline-block;
    position: relative;
    margin-top: 17px;
}
.icon {
    display: inline-block;
    vertical-align: text-bottom;
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.icon-sm-phone {
    background-position: -448px -546px;
    height: 25px;
    position: relative;
    top: 3px;
    width: 25px;
}
.navbar-nav.navbar-right .search-li {
    width: 105px;
    color: #333;
}
.icon-search {
    background-position: -210px -80px;
    position: relative;
    top: 1px;
    left: 5px;
}
.navbar-nav.navbar-right .search-li span {
    margin-left: 14px;
    position: relative;
    top: 1px;
}
header .navbar-right li:last-child a {
    width: 70px;
    height: 40px;
    color: #fff;
    background-color: #3ca5f6;
    display: block;
    margin-top: 10px;
    line-height: 12px;
    text-align: center;
    cursor: pointer;
}
header .navbar-right li:last-child a:hover {
    color: #fff;
    background-color: #2f99ea;
}
.wrap-left{
    position: relative;
    width: 800px;
    margin: 0 auto;
}
.pull-left {
    float: left!important;
}
.big-pic-box {
    position: relative;
    height: 400px;
}
.big-pic .back-img, .big2-pic .back-img {
    position: absolute;
    width: 100%;
}
.big-pic {
    position: absolute;
    width: 533px;
    height: 400px;
    margin-bottom: 30px;
    overflow: hidden;
}
.big-pic:hover img, .big2-pic:hover img, .hot-article-img:hover img, .part-thumb:hover img, .topic-content:hover img,.mod-thumb:hover img{
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
    transform: scale(1.04);
}
.big-pic:before, .big2-pic:before, .topic-content:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background: -webkit-gradient(linear, 0 30%, 0 100%, from(rgba(0, 0, 0, 0)), to(#121515));
}
.big-pic img, .big2-pic img, .hot-article-img img, .part-thumb img, .topic-content img, .mod-thumb img {
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    vertical-align: top;
}
.big-pic-content, .big2-pic-content {
    position: absolute;
    width: 533px;
    height: 400px;
    z-index: 10;
    cursor: pointer;
    display: block;
}
.t-h1 {
    margin: 0 30px;
    bottom: 22px;
    position: absolute;
    line-height: 1.5;
    font-size: 24px;
    color: #fff;
    word-wrap: break-word;
    word-break: normal;
}
.big2-pic, .big2-pic-right {
    position: relative;
    width: 360px;
    height: 270px;
    background-color: #fafafa;
    overflow: hidden;
}
.big2-pic.big2-pic-top,.big2-pic.big2-pic-bottom{
    position: absolute;
    width: 257px;
    height: 195px;
    left: 543px;
}
.big2-pic.big2-pic-top .big2-pic-content {
    width: 257px;
    height: 195px;
}
.big2-pic-content .t-h1 {
    word-break: inherit;
    font-size: 18px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
}
.big2-pic.big2-pic-top .big2-pic-content .t-h1,.big2-pic.big2-pic-bottom .big2-pic-content .t-h1{
    font-size: 16px;
    margin: 0 20px;
    bottom: 16px;
}
.big2-pic.big2-pic-bottom{
    top: 205px;
}
.big2-pic.big2-pic-bottom .big2-pic-content {
    width: 257px;
    height: 195px;
}
.wz-list{
    display: inline-block;
}
.part1{
    position: relative;
    padding: 30px 0;
    height: 225px;
    border-bottom: 1px solid #f0f0f0;
    width: 800px;
}
.part1 .part-thumb{
    width: 220px;
    height: 165px;
    overflow: hidden;
    background: #000;
}
.column-link-box{
    position: absolute;
    bottom: 25px;
    right: 0;
    text-align: right;
}
.column-link {
    font-size: 12px;
    color: #3ca5f6;
    text-align: center;
    line-height: 1;
    z-index: 10;
    margin-left: 20px;
}
.part-middle{
    position: relative;
    float: right;
    margin: 0 30px;
    width: 530px;
    margin-top: -162px;
}
.part-middle h2 {
    margin-top: -5px;
    font-size: 24px;
}
.part-middle h2 a{
    font-size: 18px;
}
.part-author{
    margin: 15px 0;
}
.part-author .author-face {
    position: absolute;
    width: 25px;
    height: 25px;
}
.part-author .author-face img{
width: 100%;
overflow: hidden;
border-radius: 25px;
}
.part-author .author-name,.part-author .time,.part-author em{
    color: #bbb;
    line-height: 24px;
    margin-left: 7px;
    font-style: normal;
}
.part-author .author-name {
    margin-left: 36px;
}
.part-author .time {
    margin-left: 20px;
}
.icon-cmt {
    background-position: -67px -1px;
    cursor: auto!important;
}
 .part-author .icon-cmt, .part-author .icon-moments, .part-author .icon-share, .part-author .icon-weibo {
    margin-left: 20px;
}
.part-author em {
    margin-left: 5px;
}
.icon-fvr {
    background-position: -106px -3px;
    margin-left: 15px;
    cursor: auto!important;
}
.part-sub {
    font-size: 14px;
    color: #999;
    line-height: 24px;
}
.recommend-sub {
    color: #333;
}
.recommend-tag {
    height: 20px;
    display: inline-block;
    padding: 0 5px;
    border: 1px solid #f63756;
    font-size: 14px;
    line-height: 18px;
    color: #f63756;
    border-radius: 4px;
}
.recommend-sub .quot {
    position: relative;
    top: 5px;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
}
.part-height{
    height: 435px;
}
.part-height .part-middle{
    width: 250px;
    margin-top: -376px;
}
.part-height .part-thumb{
    width: 500px;
    height: 375px;
}
.i-vip {
    background: url(../img/vip.png);
    background-size: 125px 100px;
    display: inline-block;
}
.icon-vip {
    background-position: -6px -4px;
    position: relative;
    top: 4px;
    width: 27px;
    height: 20px;
    left: 5px;
}
.i-icon {
    position: relative;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-bottom;
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.icon-auth2 {
    background-position: -325px -304px;
    margin-left: 10px;
}
.icon-team-auth {
    background-position: -325px -424px;
    margin-left: 10px;
}
.mod-angle {
    position: absolute;
    left: -10px;
    height: 24px;
    color: #fff;
    text-align: center;
    background-color: #f63756;
    line-height: 24px;
    padding: 0 10px;
    z-index: 101;
    top: 40px;
    font-size: 14px;
}
.wrap-right {
    width: 340px;
}
.box-moder {
    background-color: #fafafa;
}
.box-moder h3 {
    font-size: 20px;
    font-weight: 400;
    padding: 30px 30px 0 30px;
    margin: 0;
    height:60px;
}
.project-more {
    position: absolute;
    margin-top: -30px;
    right: 30px;
}
.project-more a {
    color: #bbb;
}
.span-mark {
    display: inline-block;
    background-color: #f63756;
    position: absolute;
    z-index: 1;
    height: 20px;
    line-height: 20px;
    margin: -28px 0 0 0;
    width: 4px;
}
.moder-story-list .story-box-warp {
    width: 100%;
    height: 500px;
    overflow: auto;
}
.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.nano>.nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.moder-story-list ul li {
    padding: 11px 10px 10px 10px;
    border-bottom: 1px solid #f0f0f0;
}
.moder-story-list ul li:first-child {
    padding-top: 0;
}
.moder-story-list ul li .story-content .story-title {
    cursor: pointer;
}
.moder-story-list ul li .story-content .story-title p {
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 9px;
    font-size: 16px;
    color: #333;
    line-height: 28px;
    position: relative;
}
.icon-caret {
    position: absolute;
    background-position: -211px -720px;
    right: 18px;
    top: 13px;
}
.story-detail-hide {
    cursor: pointer;
}
.moder-story-list ul li p {
    padding: 0 20px;
}
.moder-story-list ul .story-open p {
    position: relative;
    background-color: #fff;
}
.moder-story-list ul li .story-content p {
    font-size: 14px;
    color: #777;
    line-height: 24px;
}
.moder-story-list ul .story-open .story-time {
    position: relative;
    width: 100%;
    background-color: #fff;
}
.nano>.nano-pane {
    position: absolute;
    width: 5px;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: .01;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.nano>.nano-pane>.nano-slider {
    background: rgba(0,0,0,.5);
    position: relative;
    margin: 0 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.nano-pane.active, .nano-pane.flashed, .nano:hover>.nano-pane {
    opacity: .99;
}
.moder-story-list ul li .story-content .story-title p:hover {
    color: #3ca5f6;
}
.placeholder {
    height: 30px;
}
.moder-rumors-list .big2-pic {
    margin-top: 14px;
    width: 280px;
    height: 210px;
    margin-right: 30px;
}
.moder-rumors-list .big2-pic-content {
    width: 280px;
    height: 210px;
}
.moder-rumors-list .big2-pic-content .t-h1 {
    margin: 20px;
    bottom: 0;
}
.clear {
    clear: both;
}
.moder-rumors-list .rumorlist {
    padding: 0 30px;
    padding-left: 37px;
}
.moder-rumors-list .rumorlist li {
    position: relative;
    border-left: 2px solid #f0f0f0;
}
.moder-rumors-list .rumorlist li:first-child {
    margin-top: 30px;
}
.moder-rumors-list .rumorlist li .icon-clock {
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #fafafa;
    position: absolute;
    left: -9px;
    top: -6px;
    width: 16px;
    height: 28px;
}
.moder-rumors-list .rumorlist .time-omitted .icon-clock {
    position: absolute;
    top: 30px;
}
.moder-rumors-list .rumorlist li img {
    display: block;
    width: auto;
}
.moder-rumors-list .rumorlist li p {
    padding-left: 16px;
}
.moder-rumors-list .rumorlist .rumor-time {
    color: #999;
    line-height: 16px;
}
.moder-rumors-list .rumorlist li p {
    padding-left: 16px;
}
.moder-rumors-list .rumorlist .rumor-detail {
    padding-top: 9px;
    font-size: 16px;
    color: #333;
    line-height: 28px;
}
.moder-rumors-list .rumorlist .time-omitted {
    position: relative;
    padding: 36px 0;
}
.moder-rumors-list .rumor-more a {
    display: block;
    padding: 0 30px 14px 30px;
    text-align: right;
    font-size: 16px;
    color: #bbb;
    line-height: 28px;
    border-bottom: 1px solid #f0f0f0;
}
.moder-rumors-list .rumor-brunt-box {
    padding: 30px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-blue-cy {
    width: 280px;
    height: 50px;
    background-color: #3ca5f6;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    border-radius: 0;
}
.btn-blue-cy:hover {
    background-color: #2f99ea;
    color: #fff;
}
.moder-project-list ul li {
    min-height: 105px;
    padding: 21px 30px;
    border-bottom: 1px solid #f0f0f0;
}
.project-pic {
    width: 62px;
    border: 3px solid #eee;
    height: 62px;
    position: absolute;
    overflow: hidden;
}
.project-content {
    margin-left: 80px;
    margin-top: -2px;
}
.project-content .project-title {
    font-size: 16px;
}
.project-content p {
    color: #bbb;
    line-height: 24px;
}
.project-btn-box {
    padding: 30px;
}
.moder-project-list .project-info {
    padding: 0 0 25px 0;
    margin-top: -9px;
}
.moder-project-list .project-info li {
    min-height: 0;
    height: auto;
    border: none;
    color: #bbb;
    padding: 5px 30px;
}
.promote-box ul li {
    padding: 30px 30px!important;
}
.mod-thumb {
    width: 220px;
    height: 165px;
    overflow: hidden;
    background: #000;
}
.promote-box .mod-thumb {
    width: 78px;
    height: 44px;
    position: absolute;
}
.promote-box .project-content {
    margin-left: 98px;
    font-size: 16px;
}
.c2 {
    color: #bbb;
}
.promote-box .point {
    color: #ccc;
    font-size: 18px;
    margin: 0 5px;
}
.hot-article ul li {
    padding: 30px 30px 24px 30px;
    border-bottom: 1px solid #f0f0f0;
    overflow: hidden;
}
.hot-article ul li .hot-article-img {
    position: relative;
    width: 280px;
    height: 210px;
    overflow: hidden;
    margin-bottom: 20px;
    background: #000;
}
.hot-article ul li a {
    font-size: 16px;
    line-height: 28px;
}
.hot-article ul li img {
    overflow: hidden;
    margin-bottom: 20px;
}
.more{
    height: 60px;
    border: 1px solid #f0f0f0;
    border-top: 0;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    color: #bbb;
    margin-bottom: 60px;
}
.more:hover{
    background-color: #fafafa;
    color: #999;
    border-color: #fafafa;
}
.footer {
    display: block;
    position: relative;
    background-color: #2d3237;
    padding-top: 5px;
    min-width: 1170px;
    z-index: 210;
    height: 130px;
}
.go-top-box {
    position: fixed;
    left: 50%;
    margin-left: 590px;
    bottom: 30px;
    z-index: 100;
}
.go-top {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    background-color: #4c4c4c;
    border-radius: 4px 4px 0 0;
}
.go-hover {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 30px;
    background: #ff6060;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    padding-left: 10px;
    border-radius: 4px 4px 0 4px;
}
.icon-footer-right {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/footer.png) no-repeat;
}
.i-reply {
    background-position: 3px 1px;
}
.app-feedback {
    border-radius: 0 0 4px 4px;
    font-size: 12px;
    text-align: center;
}
.app-footer-guide {
    position: absolute;
    width: 90px;
    height: 110px;
    background: #fff;
    padding: 10px;
    box-shadow: 1px 1px 15px rgba(0,0,0,.3);
    left: -100px;
    top: 0;
    display: none;
}
.i-qr {
    background-position: -37px 0;
}
.go-footer {
    opacity: 0;
    border-radius: 4px;
    margin-top: 50px;
}
.go-footer .go-hover {
    border-radius: 4px;
}
.i-top {
    background-position: -75px 1px;
}
footer .copy-right {
    margin-top: 35px;
    position: relative;
    z-index: 400;
}
footer .copy-right, footer .copy-right span a {
    color: #707682;
    font-size: 12px;
}
footer .copy-right a {
    height: 40px;
    color: #6b6e81;
}
footer .footer-tag-list a {
    font-size: 14px;
    margin-right: 15px;
}
footer .copy-right span {
    line-height: 28px;
    margin-bottom: 30px;
    display: block;
    margin-top: 10px;
}
.icon-aliyun {
    position: relative;
    display: inline-block;
    vertical-align: text-bottom;
    background-repeat: no-repeat;
    width: 40px;
    height: 22.7px;
    background-image: url(../img/aliyun.png);
    left: 10px;
}
footer .bull-em {
    font-style: normal;
    margin-left: 15px;
}
footer .footer-icon-list {
    position: absolute;
    top: 18px;
    right: 0;
}
footer .copy-right a {
    height: 40px;
    color: #6b6e81;
}
footer .footer-icon-list ul li {
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    background-color: #343a40;
    text-align: center;
    border-radius: 20px;
    margin-left: 20px;
}
footer .footer-icon-list .app-qrcode {
    display: none;
    position: absolute;
    width: 130px;
    height: 130px;
    margin-top: -141px;
    box-shadow: 0 0 6px rgba(14,22,30,.3);
    margin-left: -45px;
}
.icon-footer {
    position: relative;
    width: 40px;
    height: 40px;
}
.icon-footer-wx {
    background-position: -49px -105px;
}
.icon-footer-ios {
    background-position: -111px -105px;
}
.icon-footer-android {
    background-position: 12px -185px;
}
.icon-footer-inter {
    background-position: -48px -184px;
}
.icon-footer-rss {
    background-position: -109px -185px;
}
.icon-footer-wx:hover {
    background-position: -50px -145px;
}
footer .copy-right a:hover {
    color: #b2bae1;
}
.icon-footer-ios:hover {
    background-position: -112px -145px;
}
.icon-footer-android:hover {
    background-position: 12px -226px;
}
.icon-footer-inter:hover {
    background-position: -48px -225px;
}
.icon-footer-rss:hover {
    background-position: -109px -226px;
}

/*热议*/
.ry-big-wrap {
    width: 100%;
    height: 375px;
}
.ry-big-pic-box {
    width: 500px;
    height: 375px;
    overflow: hidden;
    float: left;
}
.ry-mod-angle {
    position: absolute;
    left: -10px;
    height: 24px;
    color: #fff;
    text-align: center;
    background-color: #f63756;
    line-height: 24px;
    padding: 0 10px;
    z-index: 20;
    top: 20px;
    font-size: 14px;
}
.ry-mod-angle:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 24px;
    width: 0;
    height: 0;
    border-top: 6px solid #cd213d;
    border-left: 10px solid transparent;
}
.ry-big-content-box {
    width: 270px;
    height: 375px;
    float: right;
    padding: 30px 25px 30px 27px;
    border: 1px solid #f1f1f1;
}
.ry-big-content-box .title {
    font-size: 18px;
    line-height: 28px;
    overflow: hidden;
    max-height: 80px;
    margin: 0;
    word-break: break-all;
}
.ry-big-content-box .info {
    color: #bbb;
    line-height: 24px;
    margin-top: 10px;
    max-height: 44px;
    overflow: hidden;
}
.ry-big-content-box .number {
    color: #bbb;
    margin-top: 10px;
}
.ry-big-content-box .number span {
    font-size: 20px;
    color: #3ca5f6;
}
.ry-big-content-box .user-box {
    width: 100%;
    margin-top: 13px;
    overflow: hidden;
}
.ry-big-content-box .user-box ul li {
    float: left;
    margin-right: 10px;
    width: 25px;
    border-radius: 13px;
    overflow: hidden;
}
img {
    width: 100%;
}
.ry-box-moder {
    width: 370px;
    height: 375px;
}
.ry-box-moder .user-face {
    width: 98px;
    height: 98px;
    margin: 70px auto 0 auto;
}
.ry-box-moder .ry-login-box {
    color: #bbb;
    text-align: center;
    line-height: 2.5;
    margin-top: 5px;
}
.ry-box-moder .ry-login-box span {
    color: #333;
    font-size: 16px;
}
.ry-box-moder .ry-login-box a {
    color: #3ca5f6;
}
a{
    cursor: pointer;
}
.ry-list-wrap {
    display: inline-block;
    margin-bottom: 30px;
}
.ry-list-wrap section {
    position: relative;
    width: 370px;
    height: 540px;
    margin-right: 30px;
    float: left;
    margin-top: 30px;
}
.ry-list-wrap section:hover {
    box-shadow: 0 0 15px rgba(45,50,55,.3);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px);
}
.ry-list-wrap section:nth-child(3n) {
    margin-right: 0;
}
.ry-list-wrap section .pic-box {
    height: 278px;
    overflow: hidden;
}
.ry-list-wrap section .pic-box .pic-content {
    position: absolute;
    width: 370px;
    height: 278px;
    background: -webkit-gradient(linear,0 50%,0 100%,from(rgba(0,0,0,0)),to(#121515));
    background: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),#121515);
    background: -ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),#121515);
    background: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),#121515);
}
.ry-list-wrap section .pic-box .pic-content ul {
    position: absolute;
    bottom: 20px;
    left: 30px;
    margin-bottom: 0;
}
.ry-list-wrap section .pic-box .pic-content ul li {
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 5px solid rgba(153,153,153,.3);
    margin-right: 10px;
    overflow: hidden;
}
.ry-list-wrap section .pic-box .pic-content .number {
    position: absolute;
    bottom: 20px;
    right: 30px;
    color: #999;
}
.ry-list-wrap section .pic-box .pic-content .number span {
    font-size: 20px;
    color: #3ca5f6;
}
.ry-list-wrap section .ry-content {
    border: 1px solid #f0f0f0;
    height: 262px;
    padding: 25px 30px 30px 30px;
}
.ry-list-wrap section .ry-content .title {
    font-size: 18px;
    color: #333;
    line-height: 28px;
    height: 56px;
    overflow: hidden;
    margin: 0;
}
.ry-list-wrap section .ry-content .author {
    color: #bbb;
    margin-top: 10px;
}
.ry-list-wrap section .ry-content .author span {
    margin-right: 20px;
}
.ry-list-wrap section .ry-content .pl-box {
    margin-top: 16px;
    background: #fafafa;
    height: 103px;
    color: #bbb;
    padding: 20px;
    line-height: 24px;
}
.ry-list-wrap section .ry-content .pl-box .name {
    color: #333;
}
.get-mod-more {
    display: inline-block;
    height: 60px;
    width: 100%;
    line-height: 60px;
    border: 1px solid #f0f0f0;
    margin-bottom: 60px;
    color: #bbb;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.get-mod-more:hover {
    background-color: #fafafa;
    color: #999;
    border-color: #fafafa;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog {
    width: 500px;
    margin-top: 60px;
}
#login-modal .modal-dialog {
    width: 452px;
}
.modal-body-alert {
    padding: 40px;
}
.modal-alert-title {
    line-height: 1;
    font-size: 18px;
    color: #1d1d1d;
}
.icon-modal {
    display: inline-block;
    vertical-align: top;
    background-image: url(../img/icon_login.png);
    background-size: 200px 200px;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
}
.icon-alert-close {
    position: absolute;
    right: 40px;
    top: 40px;
    background-position: 0 -1px;
    width: 20px;
    height: 20px;
}
.login-form {
    position: relative;
    margin-top: 52px;
}
.sms-text {
    position: absolute;
    color: #1d1d1d;
    font-size: 12px;
    top: -24px;
    right: 0;
    cursor: pointer;
}
.login-label {
    position: relative;
    width: 100%;
    display: inline-block;
    margin-bottom: 12px;
}
.modal-body label {
    font-weight: 400;
}
.login-input {
    width: 100%;
    height: 40px;
    border: 1px solid #eee;
    outline: 0;
    font-size: 12px;
    color: #333;
    padding: 0 12px;
}
.error-box {
    display: none;
}
.login-operation {
    font-size: 12px;
    color: #8d8d8d;
    line-height: 1;
    margin-top: 30px;
}
.login-operation a {
    color: #8d8d8d;
}
.btn-login {
    height: 40px;
    width: 100%;
    background: #1d1d1d;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border: none;
    outline: 0;
    margin-top: 20px;
    padding: 0;
    line-height: 40px;
}
.register-text {
    font-size: 16px;
    width: 100%;
    text-align: center;
    line-height: 1;
    margin: 32px 0 0 0;
    cursor: pointer;
}
.third-box {
    position: relative;
    border-top: 1px solid #eee;
    padding: 36px 0 0 0;
    text-align: center;
    margin-top: 32px;
}
.third-box .title {
    position: absolute;
    top: -12px;
    text-align: center;
    width: 100%;
}
.third-box .title span {
    color: #8d8d8d;
    font-size: 12px;
    padding: 0 10px;
    background: #fff;
    display: inline-block;
}
.third-box a {
    margin-right: 50px;
}
.icon-login-qq {
    background-position: 4px -39px;
}
.third-box i {
    width: 46px;
    height: 38px;
}
.icon-login-wx {
    background-position: -2px -97px;
}
.icon-login-wb {
    background-position: -2px -147px;
}
.icon-login-zfb {
    background-position: -67px -40px;
}
.icon-qr-or-pc {
    width: 60px;
    height: 60px;
    background-position: -135px -135px;
    cursor: pointer;
}
.third-box a:last-child {
    margin-right: 0;
}
.qr-pc {
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.login-label.col-xs-label {
    padding-left: 74px;
}
.login-input {
    width: 100%;
    height: 40px;
    border: 1px solid #eee;
    outline: 0;
    font-size: 12px;
    color: #333;
    padding: 0 12px;
}
.btn-captcha {
    display: inline-block;
    position: absolute;
    right: 6px;
    top: 6px;
    background: #1d1d1d;
    color: #fff;
    height: 28px;
    padding: 0 15px;
    line-height: 28px;
    border-radius: 3px;
    cursor: pointer;
}
.label-select-box {
    position: absolute;
    top: 0;
    width: 74px;
    height: 40px;
    background: #ddd;
    line-height: 40px;
    color: #1d1d1d;
    left: 0;
}
.icon-l-caret {
    width: 15px;
    height: 20px;
    background-position: -30px 1px;
    margin-top: 9px;
}